<?php
	include_once("../_init.php");
	include_once($GP -> INC_ADM_PATH."/head.php");
?>
<body>
<div class="Wrap"><!--// 전체를 감싸는 Wrap -->
		<? include_once($GP -> INC_ADM_PATH."/header.php"); ?>
		<div class="boxContentBody">
		</div>		
		<? include_once($GP -> INC_ADM_PATH."/footer.php"); ?>
	</div>
</div>
</body>
</html>