body.find-popup {min-width:100px;}
#pop-wrap {}
#pop-wrap .header {padding:15px 20px;font-size:16px;line-height:24px;color:#fff;background-color:#333;}
#pop-wrap .container {padding:30px 20px;font-size:16px;line-height:24px;color:#333;text-align:center;}
#pop-wrap .container .result {margin-bottom:40px;}
#pop-wrap .pop-close {display:block;position:absolute;top:0;right:0;width:54px;height:54px;background-color:translate;}
#pop-wrap .pop-close:before {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-20px;width:1px;height:40px;background-color:#fff;transform: rotate(45deg); transform-origin: center center;}
#pop-wrap .pop-close:after {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-20px;width:1px;height:40px;background-color:#fff;transform: rotate(-45deg); transform-origin: center center;}
#pop-wrap .btn {margin-top:10px;margin-right:6px;padding:10px;min-width:140px;height:50px;font-size:1.25em;line-height:1.5em;letter-spacing:-0.05em;}

.member #article {margin:0 auto;padding:100px 0;max-width:1200px;}

#article.sign > .section {border:1px solid #ddd;background-color:#fff;}
#article.sign > .section > .title {padding:20px 38px 15px;font-weight:500;color:#333;border-bottom:1px solid #ddd;}
#sign-section {margin:0 auto;padding:40px 0 80px;max-width:600px;}
#sign-section:before {content:'';display:block;margin:0 auto 30px;width:127px;height:80px;background-repeat:no-repeat;background-image:url(../images/logo-pack.png);background-position:0 0;}
#sign-section > p:first-child {margin-bottom:60px;}
#sign-section .form-title {display:block;padding-bottom:15px;font-size:1.125em;font-weight:400;line-height:1.5em;color:#333;}
#sign-section .agree-panel + .agree-panel {margin-top:60px;margin-bottom:20px;}
#sign-section .agree-panel .agree-contents {padding:20px;height:340px;font-size:0.875em;line-height:1.7em;color:#666;border:1px solid #ddd;background-color:#f8f8f8;overflow:auto;}
#sign-section .agree-panel .i-checkbox {position:absolute;top:0;right:0;}
#sign-section .sign-up-entry {margin-bottom:40px;border:1px solid #ddd;}
#sign-section .sign-up-entry > li {padding:20px;border-top:1px solid #ddd;}
#sign-section .sign-up-entry > li:first-child {border-top:0;}
#sign-section .sign-up-entry + .btn-group .btn {margin-top:0;}
#sign-section .sign-up-entry .i-text {padding:13px 19px;height:50px;font-size:0.875em;line-height:1.5em;border:1px solid #ddd;}
#sign-section .sign-up-entry .i-text.full {width:100%;}
#sign-section .sign-up-entry .i-text:focus {border-color:#333;outline:0;}
#sign-section .sign-up-entry select:focus {border-color:#333;outline:0;}
#sign-section .sign-up-entry dt {font-size:1.125em;line-height:1.75em;}
#sign-section .sign-up-entry dd span {display:block;float:left;padding:13px 0;font-size:0.875em;color:#666;}
#sign-section .sign-up-entry dd:after {content:'';display:block;clear:both;}
#sign-section .sign-up-entry dd .i-text {float:left;}
#sign-section .sign-up-entry #mb_name.i-text {margin-right:1em;width:50%;}
#sign-section .sign-up-entry #mb_email1 {width:calc((100% - 35px) / 3);}
#sign-section .sign-up-entry #mb_email2 {width:calc((100% - 35px) / 3);}
#sign-section .sign-up-entry #email_sel {display:block;float:left;margin-left:10px;width:calc((100% - 35px) / 3);height:50px;border-color:#ddd;}
#sign-section .sign-up-entry #mb_mobile1 {display:block;float:left;width:calc((100% - 50px) / 3);height:50px;border-color:#ddd;}
#sign-section .sign-up-entry #mb_mobile2 {width:calc((100% - 50px) / 3);}
#sign-section .sign-up-entry #mb_mobile3 {width:calc((100% - 50px) / 3);}
#sign-section .sign-up-entry .empty {float:left;display:block;padding:13px 0;width:25px;text-align:center;}
#sign-section .sign-up-entry .i-checkbox {float:left;margin-right:40px;}
#sign-section .sign-up-entry .i-checkbox span {padding:5px 0 5px 40px;}
#sign-section .sign-up-entry .i-checkbox span:after {right:inherit;right:initial;left:0;}
#sign-section .sign-up-entry .acceptance {display:block;padding:5px 0;min-width:300px;font-size:0.875em;color:#666;}

#sign-complete-section {margin:0 auto;padding:60px 0 100px;max-width:600px;}
#sign-complete-section > .panel:before {content:'';display:block;margin:0 auto 75px;width:127px;height:80px;background-repeat:no-repeat;background-image:url(../images/logo-pack.png);background-position:0 0;}
#sign-complete-section > .panel {padding:95px 0 25px;color:#666;text-align:center;border:1px solid #ddd;}
#sign-complete-section > .btn-group .btn {margin-top:0;padding:15px;height:60px;}

#sign-other {margin-top:20px;padding:20px;border:1px solid #ddd;}
#sign-other:after {content:'';display:block;clear:both;}
#sign-other .btn {float:left;margin-top:20px;padding:20px 0;height:70px;}
#sign-other .btn-sns {margin-top:0;margin-left:18px;margin-right:0;width:174px;min-width:0;color:#666;border-color:#ddd;background-color:#fff;}
#sign-other .btn-sns:first-child {margin-left:0;}
#sign-other .btn-sns:before {content:'';display:inline-block;position:relative;top:-2px;margin-right:10px;height:12px;background-repeat:no-repeat;background-image:url(../images/sns-pack.png);}
#sign-other .naver:before {width:64px;background-position:0 0;}
#sign-other .kakao:before {width:52px;background-position:0 -50px;}
#sign-other .facebook:before {width:60px;background-position:0 -100px;}
#sign-other .btn-sign-up {background-color:#7c929a;}

#article.mypage {padding-bottom:100px;}
#article.mypage table.entry {border-top:1px solid #ddd;}
#article.mypage table.entry tr {border-bottom:1px solid #ddd;}
#article.mypage table.entry th {padding:20px;font-size:1.125em;font-weight:400;color:#333;text-align:left;}
#article.mypage table.entry td {padding:30px;height:110px;color:#666;}
#article.mypage table.entry td:after {content:'';display:block;clear:both;}
#article.mypage table.entry .i-text {float:left;padding:13px 19px;height:50px;font-size:0.875em;line-height:1.5em;border:1px solid #ddd;}
#article.mypage table.entry .i-text.full {width:100%;}
#article.mypage table.entry .i-text:focus {border-color:#333;outline:0;}
#article.mypage table.entry select:focus {border-color:#333;outline:0;}
#article.mypage table.entry .acceptance {min-width:300px;}
#article.mypage table.entry .acceptance:after {content:'';display:block;clear:both;}
#article.mypage table.entry .acceptance p {margin-bottom:5px;font-size:0.875em;}
#article.mypage table.entry .i-checkbox {float:left;margin-right:20px;}
#article.mypage table.entry .empty {float:left;display:block;padding:13px 0;width:25px;text-align:center;}
#article.mypage table.entry #mb_email1 {width:calc((100% - 35px) / 3);}
#article.mypage table.entry #mb_email2 {width:calc((100% - 35px) / 3);}
#article.mypage table.entry #email_sel {display:block;float:left;margin-left:10px;width:calc((100% - 35px) / 3);height:50px;border-color:#ddd;}
#article.mypage table.entry #mb_mobile1 {display:block;float:left;width:calc((100% - 50px) / 3);height:50px;border-color:#ddd;}
#article.mypage table.entry #mb_mobile2 {width:calc((100% - 50px) / 3);}
#article.mypage table.entry #mb_mobile3 {width:calc((100% - 50px) / 3);}
#article.mypage table.entry .explain {float:left;padding:13px;}

#article.mypage .memout .title {margin-bottom:1.5em;font-size:1.375em;font-weight:500;line-height:1.5em;color:#333;}
#article.mypage .memout .user-info {margin-bottom:30px;white-space:nowrap;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#article.mypage .memout .user-info dt {display:inline-block;padding:43px 20px;width:170px;font-size:1.125em;vertical-align:top;}
#article.mypage .memout .user-info dt:after {content:':';}
#article.mypage .memout .user-info dd {display:inline-block;margin-right:20px;padding:43px 20px;vertical-align:top;}
#article.mypage .memout .reason {padding:20px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#article.mypage .memout .reason:after {content:'';display:block;clear:both;}
#article.mypage .memout .reason > li {float:left;width:25%;padding:20px;font-size:0.875em;}
#article.mypage .memout .another_reason {margin-top:40px;}
#article.mypage .memout .another_reason #proposal {padding:20px;width:100%;height:160px;font-family:inherit;font-size:1em;line-height:1.5em;border:1px solid #ddd;}
#article.mypage .memout .another_reason #proposal:focus {border-color:#333;outline:0;}

.sign-form {margin:0 auto 20px;padding:20px;border:1px solid #ddd;}
.sign-form:last-child {margin-bottom:0;}
.sign-form ul.entry > li {margin-bottom:20px;}
.sign-form .btn-group {margin-top:0;}
.sign-form .btn-group .btn {margin-top:0;height:70px;}

.agree-well {margin-bottom:40px;}
.agree-well > .title {font-size:1.375em;font-weight:500;color:#333;}
.agree-well > .panel {margin:20px 0;padding:20px;height:250px;border:1px solid #ddd;overflow:auto;}
.agree-well > .footer:after {content:'';display:block;clear:both;}
.agree-well .remarks {margin-bottom:5px;}
.agree-well .i-checkbox {float:left;margin-right:20px;}

.i-label {display:block;width:100%;}
.i-label .i-placeholder {position:absolute;padding:13px 19px;width:100%;height:100%;font-size:0.875em;line-height:1.5em;color:#666;background-color:#fff;z-index:2;border:1px solid #ddd;}
.i-label .i-text {padding:13px 19px;height:50px;width:100%;font-size:0.875em;line-height:1.5em;border:1px solid #ddd;}
.i-label .i-text:focus {border-color:#333;outline:0;}

.i-checkbox {}
.i-checkbox span {display:block;padding:5px 40px 5px 0;}
.i-checkbox span:after {content:'';display:block;position:absolute;top:0;right:0;width:34px;height:34px;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);background-position:-220px -40px;}
.i-checkbox input:checked + span:after {background-position:-260px -40px;}
.i-checkbox.left span {padding:5px 0 5px 40px;}
.i-checkbox.left span:after {right:inherit;right:initial;left:0;}

.section.divide:after, .panel:after {content:'';display:block;clear:both;}
.section.divide {overflow:hidden;}
.section.divide > .panel {float:left;}
.section.divide > .panel.right {float:right;}
.section.divide > .half {width:50%;}
.section.divide > .half:nth-child(odd) {padding-right:30px;}
.section.divide > .half:nth-child(even) {padding-left:30px;}
.section.divide > .half.right:nth-child(odd) {padding-left:30px;padding-right:0;}
.section.divide > .half.right + .half {padding-left:0;padding-right:30px;}

.btn-group {margin-top:40px;overflow:hidden;}
.btn-group:after {content:'';display:block;clear:both;}
.btn-group .btn-lt {float:left;}
.btn-group .btn-rt {float:right;}
.btn-group.center {text-align:center;}
.btn-group.right {text-align:right;}
.btn-group .btn {display:inline-block;margin-top:10px;margin-right:6px;padding:10px;min-width:180px;height:50px;font-size:1.25em;line-height:1.5em;letter-spacing:-0.05em;text-align:center;vertical-align:top;border:1px solid transparent;color:#fff;background-color:#00aeba;}
.btn-group .btn:last-child {margin-right:0;}
.btn-group .btn.btn-point {color:#fff;background-color:#00aeba;}
.btn-group .btn.btn-dark {color:#fff;background-color:#333;}
.btn-group .btn.btn-gray {color:#666;border-color:#ccc;background-color:#eee;}
.btn.btn-small {min-width:80px;}
.btn.btn-middle {min-width:180px;}
.btn.btn-large {padding:20px;font-size:1.125em;line-height:1.65em;}
.btn.btn-half {width:calc(50% - 5px);}
.btn.btn-full {margin-right:0;min-width:0;width:100%;}
.btn.btn-full ~ .btn {margin-top:10px;}
.btn.btn-full.btn-large ~ .btn {margin-top:20px;}

.pagination {margin-top:50px;text-align:center;}
.pagination .btn {display:inline-block;margin:0;padding:0.285em;min-width:2.145em;height:2.145em;font-size:0.875em;line-height:1.4em;vertical-align:middle;color:#666;border:1px solid #ccc;background-color:#eee;}
.pagination .btn.prev {background-color:#fff;}
.pagination .btn.next {background-color:#fff;}
.pagination .btn.prev:before {content:'';display:block;position:relative;top:0.35em;left:0.2em;margin:0 auto;width:0.75em;height:0.75em;border-top:1px solid #666;border-right:1px solid #666;-webkit-transform:rotate(225deg);transform:rotate(225deg);}
.pagination .btn.next:before {content:'';display:block;position:relative;top:0.35em;left:-0.2em;margin:0 auto;width:0.75em;height:0.75em;border-top:1px solid #666;border-right:1px solid #666;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.pagination .btn.current {border-color:transparent;color:#fff;background-color:#666;}

.board-search {margin-bottom:50px;padding:20px;font-size:16px;line-height:24px;background-color:#eee;text-align:center;}
.board-search select {padding:8px;width:120px;height:40px;font-size:1em;border:1px solid #ddd;}
.board-search select:focus {border-color:#333;outline:0;}
.board-search .search-input {margin:0 6px;padding:8px;width:250px;height:40px;font-size:1em;border:1px solid #ddd;}
.board-search .search-input:focus {border-color:#333;outline:0;}
.board-search .search-input.date {width:180px;text-align:center;}
.board-search .search-btn {display:inline-block;padding:8px;width:80px;height:40px;font-weight:500;color:#fff;vertical-align:middle;text-align:center;background-color:#333;}
.board-search .search-btn span {display:block;}
.board-search .search-area {display:inline-block;}

.board-list {margin-top:50px;font-size:16px;line-height:24px;border-top:2px solid #00aeba;table-layout:fixed;}
.board-list th,
.board-list td {color:#333;text-align:center;}
.board-list thead th,
.board-list thead td {height:48px;font-weight:500;border-bottom:1px solid #999;background-color:#fafafa;}
.board-list tbody th,
.board-list tbody td {padding:6px 0;height:49px;color:#333;border-bottom:1px solid #999;letter-spacing:-1px;}
.board-list tbody td.state {text-align:center;}
.board-list td.subject {text-align:left;}
.board-list td.subject a {display:inline-block;max-width:90%;color:#333;vertical-align:middle;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.board-list tr.notice td.subject a {font-weight:700;}
.board-list tr:hover a {color:#333;}
.board-list span.new {display:inline-block;margin:0 5px;padding:0 0.25em;width:1.5em;font-size:0.75em;font-style:italic;font-weight:300;line-height:1.5em;text-indent:-0.35em;color:#fff;text-align:center;text-transform:uppercase;border-radius:50%;background-color:#00aeba;}
.board-list span.new:before {content:'N';}
.board-list span.wait {display:inline-block;width:60px;color:#fff;text-align:center;background-color:#999;}
.board-list span.success {display:inline-block;width:60px;color:#fff;text-align:center;background-color:#333;}
.board-list .fa {font-size:18px;vertical-align:middle;}
.board-list .fa:before {padding-right:2px;}
.board-list .num.notice:before {content:'공지' !important;display:inline;font-weight:700;color:#00aeba;}
.board-list .num.best:before {content:'Best' !important;display:inline-block;padding:2px 5px;line-height:1.5em;color:#fff;background-color:#00aeba;}
.board-list .num.end:before {content:'마감' !important;display:inline-block;padding:2px 5px;line-height:1.5em;color:#fff;background-color:#666;}
.board-list .num.hidden:before {content:'비공개' !important;display:inline-block;padding:2px 5px;line-height:1.5em;color:#fff;background-color:#666;}
.board-list .num,
.board-list .type,
.board-list .views,
.board-list .name,
.board-list .date,
.board-list .state {width:120px;}
.board-list .info {width:300px;}
.board-list tbody td.non-list {padding:60px 0;width:100%;text-align:center;}

.photo-list {margin-left:-5px;margin-right:-5px;margin-bottom:40px;}
.photo-list:after {content:'';display:block;clear:both;}
.photo-list > li {float:left;width:25%;padding:5px;}
.photo-list > li > a {display:block;padding:0 15px;border:1px solid #ddd;}
.photo-list > li.news a {padding-top:15px;}
.photo-list > li.news a .subject {padding:5px 0;}
.photo-list .subject {font-size:1.25em;font-weight:500;line-height:2.08em;color:#333;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.photo-list .picture {padding-top:67%;}
.photo-list .picture img {position:absolute;top:0;left:0;width:100%;height:100%;}
.photo-list .description {padding:1.11em 0;font-size:0.875em;line-height:1.5em;letter-spacing:-0.05em;color:#666;}
.photo-list .non-list {padding:50px;width:100%;text-align:center;font-size:1.25em;color:#333;}

.board-view {border-top:1px solid #ddd;overflow:hidden;}
.board-view .subject,
.board-view .info,
.board-view .contents {padding:15px 20px;font-weight:500;border-bottom:1px solid #ddd;}
.board-view .subject {margin:0;width:100%;color:#333;background-color:#fafafa;letter-spacing:-0.05em;}
.board-view .info {width:100%;color:#333;background-color:#fff;letter-spacing:-0.05em;}
.board-view .subject,
.board-view .info dt,
.board-view .info dd {display:inline-block;vertical-align:middle;}
.board-view .info dt {font-weight:500;margin-right:5px;}
.board-view .info dt:after {content:'.';}
.board-view .info dd {margin-right:30px;font-weight:400;color:#666;}
.board-view .info a {color:#999;}
.board-view .contents {min-height:200px;font-weight:400;}
.board-view .contents * {font-family:'Noto Sans KR' !important;}
.board-view .contents img {max-width:100%;height:auto;}
.board-view .contents a {display:inline-block;}

.reply-section .reply-title {margin-top:40px;margin-bottom:10px;color:#333;}
.reply-section .reply-text {margin-top:-1px;margin-bottom:40px;padding:20px;border:1px solid #ddd;background-color:#fafafa;}
.reply-text textarea {padding:10px;width:100%;border:1px solid #ddd;}
.reply-text label {display:inline-block;margin-bottom:10px;width:230px;}
.reply-text label.required strong:before {content:'*';color:#83af00;}
.reply-text label strong {display:inline-block;width:70px;font-weight:500;vertical-align:middle;}
.reply-text .i_text {width:140px;height:30px;text-indent:5px;border:1px solid #ddd;}
.reply-text .btn-group {margin-top:20px;}
.reply-section > form + .reply-contents {margin-top:60px;}
.reply-contents {margin-top:-1px;color:#333;border:1px solid #ccc;background-color:#f8f8f8;}
.reply-contents li {padding:30px;}
.reply-contents li > dl > dt {font-weight:700;}
.reply-contents .reply {padding:10px 0;}
.reply-contents .util {position:absolute;top:30px;right:30px;color:#666;}
.reply-contents .util a {color:#666;}

.board-view-list {margin:40px 0 0;border-top:1px solid #ddd;}
.board-view-list li {border-bottom:1px solid #ddd;}
.board-view-list li a {display:block;overflow:hidden;color:#333;}
.board-view-list li strong {display:block;float:left;padding:17px;width:70px;font-weight:500;text-align:center;background-color:#fafafa;}
.board-view-list li span {display:block;float:left;padding:17px;max-width:calc(100% - 70px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.public-panel {margin-top:60px;font-weight:400;line-height:1.5em;color:#666;}
.public-panel:first-child {margin-top:0;}
.public-panel .public-title {padding-left:20px;font-size:24px;font-weight:700;line-height:30px;color:#333;text-indent:-20px;}
.public-panel .public-title:before {content:'';display:inline-block;margin-right:10px;margin-top:-2px;width:10px;height:10px;background-color:#333;vertical-align:middle;}
.public-panel .public-title + .sub-public {margin-top:20px;}
.public-panel .sub-public {margin-top:40px;}
.public-panel .sub-public-title {font-size:1.25em;font-weight:500;line-height:26px;color:#333;}
.public-panel .sub-public-contents {margin-top:10px;}
.public-panel .other-title {font-size:16px;font-weight:500;line-height:22px;color:#333;}
.public-panel p,
.public-panel ol {margin-top:10px;}
.public-panel ol ol {margin-top:5px;}
.public-panel p:first-child,
.public-panel ol:first-child {margin-top:0;}

.board-write {border-top:2px solid #00aeba;}
.board-write th, 
.board-write td {border-bottom:1px solid #ddd;line-height:1.5em;}
.board-write th {padding:10px 10px 10px 20px;width:140px;font-weight:500;line-height:22px;text-align:left;}
.board-write th.required:before {content:'*';position:absolute;margin-left:-14px;color:#83af00;}
.board-write td {padding:10px;}
.board-write td:after {content:'';display:block;clear:both;}
.board-write .rowspan {padding-bottom:0;border-bottom:0;}
.board-write .i_text,
.board-write select {height:30px;text-indent:10px;border:1px solid #ddd;}
.board-write .i_text {float:left;width:140px;}
.board-write .i_text:focus {outline:0;border-color:#333;}
.board-write select {float:left;width:140px;}
.board-write select:focus {outline:0;border-color:#333;}
.board-write .field select {width:100%;}
.board-write .full {width:100%;}
.board-write .i_text.middle {width:180px;}
.board-write textarea {padding:10px;width:100%;height:7.5em;font-size:1em;line-height:1.5em;border:1px solid #ddd;}
.board-write textarea:focus {outline:0;border-color:#333;}
.board-write .explain {display:inline;margin-bottom:0;margin-left:10px;line-height:16px;color:#00aeba;}
.board-write .explain:before {content:'※ ';}
.board-write .empty {display:inline-block;padding:5px 0;width:16px;line-height:1.5em;text-align:center;}
.board-write .btn-small {display:inline-block;padding:2px 0;width:80px;height:30px;font-weight:500;line-height:24px;color:#333;text-align:center;border:1px solid #d5d5d5;background-color:#f1f3f5;vertical-align:middle;}
.board-write .method-radio {display:block;float:left;padding:5px 0;width:100px;line-height:1.5em;}
.board-write .method-radio input {margin-right:5px;}
.board-write .method-entry {float:left;}
.board-write .required {color:#00aeba;}
.board-write .inputFile {margin-top:5px;}
.board-write .inputFile:first-child {margin-top:0;}
.board-write .inputFile .i_text {margin-right:5px;width:calc(100% - 85px);}
.board-write .inputFile .fileBtn {float:right;overflow:hidden;}
.board-write .inputFile .fileBtn input[type="file"] {position:absolute;width:100%;height:100%;z-index:-1;}
.board-write .inputFile .fileBtn .btn {display:block;padding:2px;width:80px;height:30px;font-size:1em;text-align:center;border:1px solid #ddd;background-color:#fff;}
.board-write .empty {float:left;display:block;padding:3px 0;width:25px;text-align:center;}
.board-write #jb_email1 {width:calc((100% - 35px) / 3);}
.board-write #jb_email2 {width:calc((100% - 35px) / 3);}
.board-write #email_sel {display:block;float:left;margin-left:10px;width:calc((100% - 35px) / 3);height:30px;border-color:#ddd;}
.board-write #jb_mobile1 {display:block;float:left;width:calc((100% - 50px) / 3);height:30px;border-color:#ddd;}
.board-write #jb_mobile2 {width:calc((100% - 50px) / 3);}
.board-write #jb_mobile3 {width:calc((100% - 50px) / 3);}
.board-write #jb_email1 {width:calc((100% - 35px) / 3);}
.board-write #jb_email2 {width:calc((100% - 35px) / 3);}
.board-write #email_sel {display:block;float:left;margin-left:10px;width:calc((100% - 35px) / 3);height:30px;border-color:#ddd;}
.board-write #tor_rs_phone1 {display:block;float:left;width:calc((100% - 50px) / 3);height:30px;border-color:#ddd;}
.board-write #tor_rs_phone2 {width:calc((100% - 50px) / 3);}
.board-write #tor_rs_phone3 {width:calc((100% - 50px) / 3);}
.board-write .i-checkbox {float:left;margin-right:20px;}
#jb_content {width:100%;height:350px;}
#zsfImg {float:left;height:30px;vertical-align:middle;}
#zsfCode.txt {width:85px;}

.wrapSubreser {position:relative;padding:35px 110px;background:#00aeba;border-radius:9px 9px 0 0;}
.wrapSubreser .inner {position:static;font-size:2em;line-height:40px;color:#fff;text-align:center;}
.wrapSubreser .inner > a {display:block;position:absolute;top:0;width:110px;height:110px;text-indent:100%;overflow:hidden;white-space:nowrap;cursor:pointer;}
.wrapSubreser .inner > a:before {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-13px;margin-left:-7px;width:14px;height:26px;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);}
.wrapSubreser .btnCalendar_l {left:0;}
.wrapSubreser .btnCalendar_l:before {background-position:-260px -120px;}
.wrapSubreser .btnCalendar_r {right:0;}
.wrapSubreser .btnCalendar_r:before {background-position:-260px -80px;}
.tbSubReser {table-layout:fixed;}
.tbSubReser thead th {height:60px;font-size:1.125em;font-weight:500;color:#333;border-top:1px solid #a9c6e0;border-bottom:1px solid #dfdfdf;background-color:#f3f3f3;}
.tbSubReser tbody td {color:#999;border-top:1px solid #fff;border-left:1px solid #fff;}
.tbSubReser tbody td:first-child {border-left:0;color:#d76c3e;}
.tbSubReser tbody td:last-child {color:#2da0da;}
.tbSubReser tbody td:last-child div > a {color:#2da0da;}
.tbSubReser tbody td div > span {display:block;padding:10px;height:80px;}
.tbSubReser tbody td div > a {display:block;padding:10px;height:80px;color:#333;background-color:#eee;}
.tbSubReser tbody td.boxSubToday,
.tbSubReser tbody td.boxSubToday div > span,
.tbSubReser tbody td.boxSubToday div > a {color:#fff;background-color:#00aeba;}

.ui-datepicker {display:block;position:absolute;top:-1000%;padding:5px;border:1px solid #ddd;background-color:#eee;z-index:200 !important;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
.ui-datepicker .ui-datepicker-header {display:block;margin-bottom:0.1em;padding:0 3.25em;}
.ui-datepicker .ui-datepicker-header a {position:absolute;top:0;padding:9px 11px;width:3.25em;height:3.125em;cursor:pointer;}
.ui-datepicker .ui-datepicker-header a.ui-state-disabled {cursor:default;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: alpha(opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity:.3;}
.ui-datepicker .ui-datepicker-header a:before {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-13px;margin-left:-7px;width:14px;height:26px;background-size:1000px 1000px;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);}
.ui-datepicker .ui-datepicker-header a span {display:block;position:absolute;top:0;left:0;width:100%;height:100%;visibility:hidden;z-index:-1;}
.ui-datepicker .ui-datepicker-prev {left:0;}
.ui-datepicker .ui-datepicker-prev:before {background-position:-280px -120px;}
.ui-datepicker .ui-datepicker-next {right:0;}
.ui-datepicker .ui-datepicker-next:before {background-position:-280px -80px;}
.ui-datepicker .ui-datepicker-title {padding:0.456em 0;height:2.23em;font-size:1.375em;font-weight:800;line-height:1.32em;color:#000;text-align:center;}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year:after {content:'.';}
.ui-datepicker .ui-datepicker-title select {-webkit-appearance:none;margin-right:4px;padding:0 5px;border:1px solid #ddd;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {height:1.675em;font-size:0.875em;vertical-align:top;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year + span {margin-right:10px;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month {height:1.675em;font-size:0.875em;vertical-align:top;}
.ui-datepicker .ui-datepicker-title span {font-size:0.875em;vertical-align:top;}
.ui-datepicker .ui-datepicker-calendar {margin-top:2px;background-color:#fff;}
.ui-datepicker .ui-datepicker-week-end:first-child {border-left:1px solid #ddd;}
.ui-datepicker .ui-datepicker-week-end:last-child {border-right:1px solid #ddd;}
.ui-datepicker thead {background-color:#454547;}
.ui-datepicker thead th {height:4em;font-size:0.6875em;line-height:1.45em;color:#fff;text-align:center;text-transform:uppercase;background-color:#454547;}
.ui-datepicker tbody td {border-bottom:1px solid #ddd;}
.ui-datepicker .dummy {border:1px solid #ddd;border-top:0;}
.ui-datepicker td > span {display:block;padding:1em;font-size:0.6875em;line-height:1.45em;color:#cbcbcb;}
.ui-datepicker td > a {display:block;padding:1em;font-size:0.6875em;line-height:1.45em;color:#333;}
.ui-datepicker .ui-datepicker-current-day > a {color:#fff;background-color:#6c3f4d;}

@media all and (max-width:1239px) {

	#article.sign {margin:0;padding:0;max-width:100%;}
	#article.sign > .section {padding:0;border:0;}

	#article.mypage table.entry th {display:block;padding-bottom:10px;}
	#article.mypage table.entry td {display:block;padding:0 20px;height:auto;}
	#article.mypage table.entry td:last-child {padding-bottom:20px;}
	#article.mypage table.entry .i-text{width:100%;}
	#article.mypage table.entry .acceptance {margin-top:5px;}
	#article.mypage table.entry .explain {margin-top:5px;padding:0;width:100%;}

	#article.mypage .memout .reason > li {width:50%;}

	.section.divide > .panel,
	.section.divide > .panel.right {float:none;margin-top:26px;}
	.section.divide > .panel:first-child {margin-top:0;}
	.section.divide > .half {width:100%;}
	.section.divide > .half:nth-child(odd) {padding-right:0;}
	.section.divide > .half:nth-child(even) {padding-left:0;}
	.section.divide > .half.right:nth-child(odd) {padding-left:0;}

	.board-list .num,
	.board-list .type,
	.board-list .views,
	.board-list .name,
	.board-list .date,
	.board-list .progress {width:80px;}
	
	.photo-list > li {width:50%;}

}
@media all and (max-width:767px) {

	#sign-section .agree-panel .i-checkbox {top:5px;}
	#sign-section .agree-panel .i-checkbox span {display:block;padding:0 40px 0 0;}
	#sign-section .sign-up-entry .i-text {height:60px;}
	#sign-section .sign-up-entry #email_sel {height:60px;}
	#sign-section .sign-up-entry #mb_mobile1 {height:60px;}
	#sign-section .sign-up-entry .i-checkbox span {padding:0 0 0 40px;}

	#sign-complete-section > .btn-group .btn {height:70px;}

	.sign-form .btn-group .btn {font-size:1em;}

	#sign-other .btn {padding:15px 0;font-size:1em;}
	#article.mypage table.entry #email_sel {height:60px;}
	#article.mypage table.entry #mb_mobile1 {height:60px;}
	#article.mypage table.entry .i-text {height:60px;}

	#article.mypage .memout .reason > li {width:100%;}

	.i-label .i-text {height:60px;}
	.i-checkbox.left span {padding:0 0 0 40px;}

	.btn-group {overflow:hidden;zoom:1;}
	.btn-group .btn {padding:10px;min-width:180px;height:60px;font-size:32px;line-height:38px;}

	.board-search {padding:25px;font-size:24px;line-height:32px;}
	.board-search select {padding:8px;width:160px;height:50px;}
	.board-search select.another {width:180px;}
	.board-search .search-input {padding:8px;width:250px;height:50px;font-size:1em;}
	.board-search .search-input.date {width:180px;}
	.board-search .search-btn {width:90px;height:50px;}

	.board-list {font-size:24px;line-height:36px;}
	.board-list thead {display:none;}
	.board-list tbody {display:block;}
	.board-list tbody tr {display:block;position:relative;padding:53px 0 20px;border-bottom:1px solid #999;}
	.board-list tbody tr:after {content:'';display:block;clear:both;}
	.board-list tbody td {display:block;float:left;padding:0;height:auto;color:#666;text-align:left;border-bottom:0;z-index:1;}
	.board-list td.subject {display:block;position:absolute;top:0;width:100%;z-index:2;}
	.board-list td.subject a {padding:18px 85px 18px 0;width:100%;max-width:100%;height:110px;z-index:2;}
	.board-list td.num {padding-right:20px;width:auto;}
	.board-list td.num:before {content:'번호.';font-weight:700;}
	.board-list td.name {padding-right:20px;width:auto;}
	.board-list td.name:before {content:'작성자.';font-weight:700;}
	.board-list td.date {padding-right:20px;width:auto;}
	.board-list td.date:before {content:'작성일.';font-weight:700;}
	.board-list td.state {display:table;position:absolute;top:0;right:0;width:85px;height:110px;z-index:1;}
	.board-list td.state span {display:table-cell;vertical-align:middle;}
	.board-list tbody td.non-list {padding:20px 0 53px;}

	.photo-list > li {width:100%;}

	.board-view-list li strong {width:140px;}
	.board-view-list li span {width:calc(100% - 140px);}

	.board-write th {display:block;padding:20px 20px 20px;width:100%;border-bottom:0;}
	.board-write td {display:block;padding:0 20px 20px;}
	.board-write .i_text,
	.board-write select {width:100%;height:60px;font-size:1em;border:1px solid #ddd;}
	.board-write .inputFile .i_text {width:calc(100% - 125px);}
	.board-write .inputFile .fileBtn .btn {padding:15px 0;width:120px;height:60px;}
	.board-write #rs_date {width:calc((100% - 50px) / 2);}
	.board-write #rs_time {width:calc((100% - 50px) / 4);}
	.board-write #rs_minute {width:calc((100% - 50px) / 4);}
	.board-write .empty {padding:12px 0;}
	.board-write #email_sel {height:60px;}
	.board-write #jb_mobile1 {height:60px;}
	.board-write #tor_rs_phone1 {height:60px;}
	#zsfImg {height:60px;vertical-align:middle;}
	#zsfCode.i_text {width:125px;}
	#zsfCode.i_text + .btn {padding:15px 0;width:120px;height:60px;}

	.board-view .contents * {font-size:1em !important;}

	.ui-datepicker {font-size:2em;}
}