@charset "utf-8";
/*
'Nanum Gothic'
Regular(400)
Bold(700)
ExtraBold(800)
background-color:#FFF;

'Nanum Myeongjo'
Regular(400)
Bold(600)
ExtraBold(700)

'Noto Sans KR'
Thin(100)
Light(300)
Regular(400)
Medium(500)
Bold(700)
Black(900)

*/

body {min-width:320px;font-family:'Nanum Gothic';z-index:1;overflow-x:hidden;}
img.block {display:block;width:100%;}

.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-ir {display:block;position:absolute;margin:0;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}

.mt-s {margin-top:15px;}
.mt-m {margin-top:20px;}
.mt-l {margin-top:40px;}

.pc-show {display:block !important;}
.tb-show {display:none !important;}
.mb-show {display:none !important;}

.pc-hide {display:none !important;}
.tb-hide {display:block !important;}
.mb-hide {display:block !important;}

[class*="ip-icon-"] {display:inline-block;}
[class*="ip-icon-"]:before {content:'';display:block;background-repeat:no-repeat;background-size:1000px 1000px;background-image:url(../images/icon-pack.png);}
[class*="ip-icon-"]:after {content:'';display:block;background-repeat:no-repeat;background-size:1000px 1000px;background-image:url(../images/icon-pack.png);}

.ip-icon-logo:before {width:228px;height:52px;background-position:0 0;opacity:1;}
.ip-icon-logo:after {position:absolute;top:0;left:0;width:228px;height:52px;background-position:0 -60px;opacity:0;}
.ip-icon-sign-arrow:before {width:9px;height:14px;background-position:-240px 0;opacity:1;}
.ip-icon-sign-arrow:after {position:absolute;top:0;left:0;width:9px;height:14px;background-position:-260px 0;opacity:0;}
.ip-icon-aside-arrow:before {width:27px;height:32px;background-position:-240px -20px;opacity:1;}
.ip-icon-aside-close:before {width:10px;height:10px;background-position:-280px 0;}
.ip-icon-aside-logo:before {width:256px;height:60px;background-position:0 -120px;}
.ip-icon-footer-logo:before {width:168px;height:122px;background-position:0 -200px;}
.ip-icon-greetings-quote:before {width:27px;height:23px;background-position:-240px -200px;}
.ip-icon-page-prev:before {width:24px;height:18px;background-position:-280px -20px;}
.ip-icon-page-next:before {width:24px;height:18px;background-position:-280px -40px;}
.ip-icon-message-send:before {width:20px;height:16px;background-position:-280px -160px;}
.ip-icon-rate:before {width:18px;height:18px;background-position:-320px -160px;}
.ip-icon-reload:before {width:18px;height:18px;background-position:-300px -240px;}

body {font-family:'Nanum Gothic';background-color:#f1f5f8;}

#wrap {}

#header {position:fixed;top:0;left:0;width:100%;background-color:transparent;z-index:1000;transition:background-color 250ms;-webkit-transition:background-color 250ms;-moz-transition:background-color 250ms;-ms-transition:background-color 250ms;}
#header .hgroup {margin:0 auto;padding:0 15px 0 250px;max-width:1200px;z-index:1100;}
#header .logo {position:absolute;top:29px;left:15px;}
#header .logo a {display:block;width:228px;height:52px;}
#header .break-line {display:block;top:-1px;margin:0 auto -1px;max-width:1440px;height:1px;border:0;background-color:#fff;opacity:.1;clear:both;}

#nav > .trigger {display:none;}
#nav .group > .overlay {display:none;}
#nav .group > .panel {padding-right:220px;}
#nav .group > .panel:after {content:'';display:block;clear:both;}
#nav .group > .panel > .btn-close {display:none;}
#nav .list {float:right;}
#nav .list:after {content:'';display:block;clear:both;}
#nav .dp1 {float:left;padding:0 15px;opacity:.8;}
#nav .dp1 a {display:block;padding:43px 0 40px;height:110px;font-size:16px;font-weight:700;line-height:24px;color:#fff;border-bottom:3px solid transparent;transition:color 250ms, opacity 250ms, border-bottom 250ms;-webkit-transition:color 250ms, opacity 250ms, border-bottom 250ms;-moz-transition:color 250ms, opacity 250ms, border-bottom 250ms;-ms-transition:color 250ms, opacity 250ms, border-bottom 250ms;}
#nav .dp1.active {opacity:1;}
#nav .dp1.active a {border-bottom:3px solid #fff;}
#nav .btn-sign-teacher {display:block;position:absolute;top:32px;right:40px;padding:10px;width:170px;height:45px;font-size:14px;font-weight:700;line-height:21px;color:#fff;text-align:center;border-radius:23px;border:2px solid #999;border-color:rgba(255,255,255,.1);}
#nav .btn-sign-teacher span {vertical-align:middle;}
#nav .btn-sign-teacher .ip-icon-sign-arrow {top:0;left:5px;vertical-align:middle;}

#nav .aside .overlay {position:fixed;top:-10%;left:100%;width:120%;height:120%;background-color:#000;opacity:0;z-index:1201;}
#nav .aside .contain {position:fixed;top:32px;right:0;z-index:1202;transform:translateX(100%);-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);transition:transform 750ms;-webkit-transition:-webkit-transform 750ms;-moz-transition:-moz-transform 750ms;-ms-transition:-mstransform 750ms;}
#nav .aside .trigger {display:block;position:absolute;left:-75px;top:0;padding-right:10px;border-radius:10px 0 0 10px;background-color:#999;z-index:1210;}
#nav .aside .trigger > a {display:block;padding:22px 22px 21px 26px;width:75px;height:75px;}
#nav .aside .btn-close {display:block;position:absolute;top:30px;right:30px;padding:10px;width:30px;height:30px;border-radius:50%;background-color:#e5e5e5;}
#nav .aside .btn-close [class*="ip-icon-"] {display:block;}
#nav .aside .panel {padding:70px 30px 36px;width:370px;border-radius:10px;background-color:#fff;z-index:1220;}
#nav .aside .header {margin-bottom:50px;}
#nav .aside .header:after {content:'';display:block;clear:both;}
#nav .aside .teacher {float:left;padding:5px 0 5px 75px;height:60px;line-height:50px;}
#nav .aside .teacher .picture {position:absolute;top:0;left:0;width:60px;height:60px;border-radius:50%;overflow:hidden;}
#nav .aside .teacher .picture img {width:100%;height:100%;border-radius:50%;}
#nav .aside .teacher .name {font-size:24px;color:#333;}
#nav .aside .rate {float:right;padding:5px 0;height:60px;line-height:50px;}
#nav .aside .rate small {margin-right:0.125em;font-size:18px;color:#999;}
#nav .aside .rate .score {font-size:36px;font-weight:300;color:#333;margin-right:0.125em;}
#nav .aside .links a {display:block;padding:15px 25px;height:60px;font-size:18px;line-height:30px;color:#333;border-radius:10px;}
#nav .aside .links a:hover {color:#fff;background-color:#0081ff;}
#nav .aside .footer {margin-top:50px;padding-top:32px;border-top:1px solid #e5e5e5;}
#nav .aside .footer [class*="ip-icon-"] {display:block;}
#nav .aside .footer [class*="ip-icon-"]:before {margin:0 auto;}
#nav .aside.on .overlay {left:-10%;opacity:.5;}
#nav .aside.on .contain {transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);}
#nav .aside.on .trigger {background-color:#0081ff;}
#nav .aside.on .ip-icon-aside-arrow:after {background-position:-240px -60px;} 

.fixed #header {background-color:#fff;}
.fixed #header .break-line {max-width:100%;background-color:#000;}
.fixed .ip-icon-logo:before {opacity:0;}
.fixed .ip-icon-logo:after {opacity:1;}

.fixed #nav .dp1 {opacity:.6;}
.fixed #nav .dp1 a {color:#333;}
.fixed #nav .dp1.active {opacity:1;}
.fixed #nav .dp1.active a {border-bottom:3px solid #333;}
.fixed #nav .btn-sign-teacher {color:#333;border:2px solid #ddd;border-color:rgba(0,0,0,.1);}
.fixed .btn-sign-teacher .ip-icon-sign-arrow:before {opacity:0;}
.fixed .btn-sign-teacher .ip-icon-sign-arrow:after {opacity:1;}

#signin {}
#signin .overlay {display:block;position:fixed;top:-10%;left:100%;width:120%;height:120%;background-color:#000;opacity:0;z-index:1300;}
#signin .contain {display:block;position:fixed;top:-780px;left:50%;margin:-390px -285px;padding:90px 100px 95px;width:570px;text-align:center;border-radius:10px;background-color:#fff;opacity:0;transform:translateY(-50%);-webkit-transform:translateY(-50);-moz-transform:translateY(-50);-ms-transform:translateY(-50);z-index:1310;transition:transform 750ms, opacity 750ms;-webkit-transition:-webkit-transform 750ms, opacity 750ms;-moz-transition:-moz-transform 750ms, opacity 750ms;-ms-transition:-mstransform 750ms, opacity 750ms;}
#signin .header {padding-bottom:42px;text-align:center;}
#signin .header .title {font-size:48px;font-weight:300;line-height:58px;letter-spacing:-0.025em;color:#333;}
#signin .header .explain {margin-top:12px;font-size:16px;line-height:24px;color:#0081ff;}
#signin .i-label {display:block;margin-bottom:30px;width:100%;text-align:left;}
#signin .i-label .i-placeholder {position:absolute;top:0;left:0;padding:13px 19px;width:100%;height:100%;font-size:16px;font-weight:300;line-height:24px;color:#363636;white-space:nowrap;text-overflow:ellipsis;border-radius:10px;border:1px solid #e5e5e5;background-color:#fafafa;overflow:hidden;z-index:2;}
#signin .i-label .i-text {padding:13px 19px;height:50px;width:100%;font-size:16px;line-height:24px;color:#363636;border-radius:10px;border:1px solid #e5e5e5;}
#signin .i-label .i-text:focus {border-color:#0081ff;outline:0;}
#signin .btn-login {display:block;width:100%;height:60px;font-size:16px;font-weight:700;line-height:24px;color:#fff;text-align:center;border-radius:10px;background-color:#0081ff;}
#signin .footer {margin-top:40px;padding-top:40px;color:#999;border-top:1px solid #ebebeb;}
#signin .footer .title {margin:0 auto 20px;display:inline-block;font-size:16px;font-weight:700;line-height:24px;color:#333;}
#signin .footer .btn-contact {display:block;margin:0 auto 10px;padding:10px;width:160px;height:45px;font-size:14px;line-height:21px;color:#0081ff;border-radius:23px;border:2px solid #ebebeb;}
#signin .footer p a {color:#999;}

#signin.on .overlay {left:-10%;opacity:.5;}
#signin.on .contain {top:50%;opacity:1;transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);}

#footer .fgroup {padding:52px 0 55px;font-size:16px;line-height:24px;color:#666;text-align:center;background-color:#fff;box-shadow:0 2px 5px rgba(0,0,0,.05);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.05);-moz-box-shadow:0 2px 5px rgba(0,0,0,.05);-ms-box-shadow:0 2px 5px rgba(0,0,0,.05);}
#footer .fgroup [class*="ip-icon"] {display:block;}
#footer .fgroup [class*="ip-icon"]:before {margin:0 auto;}
#footer .fgroup .info {margin-top:26px;}
#footer .fgroup .info dt {display:inline;}
#footer .fgroup .info dt:after {content:':';padding:0 0.25em;}
#footer .fgroup .info dd {display:inline;}
#footer .fgroup .info dd.address:after {content:'';display:block;}
#footer .fgroup .info dd.tel:after {content:'/';padding-left:0.25em;}
#footer .fgroup .info dd.fax:after {content:'';display:block;}
#footer .fgroup .info a {color:#666;}
#footer .copy {padding:35px 0 55px;font-size:16px;line-height:24px;color:#666;text-align:center;}

.lt-ie9 .ip-icon-logo:before {display:block;}
.lt-ie9 .ip-icon-logo:after {display:none;}
.lt-ie9 .fixed .ip-icon-logo:before {display:none;}
.lt-ie9 .fixed .ip-icon-logo:after {display:block;position:relative;}
.lt-ie9 .ip-icon-sign-arrow:before {display:block;}
.lt-ie9 .ip-icon-sign-arrow:after {display:none;}
.lt-ie9 .fixed .ip-icon-sign-arrow:before {display:none;}
.lt-ie9 .fixed .ip-icon-sign-arrow:after {display:block;position:relative;}

.lt-ie9 #header .break-line {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"}

.lt-ie9 #nav .dp1 a {color:#ddd;}
.lt-ie9 #nav .dp1.active a {color:#fff;}

.lt-ie9 #nav .aside .contain {right:-370px;}
.lt-ie9 #nav .aside.on .overlay {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}
.lt-ie9 #nav .aside.on .contain {right:0;}

.lt-ie9 .fixed #nav .dp1 a {color:#666;}
.lt-ie9 .fixed #nav .dp1.active a {color:#333;}
.lt-ie9 .fixed #nav .btn-sign-teacher {border:2px solid #e9e9e9;}

.lt-ie9 #signin.on .overlay {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}


@media all and (min-width:1080px) {
}
@media all and (max-width:1079px) {
	body {z-index:2;}
	.pc-show {display:none !important;}
	.tb-show {display:block !important;}
	.mb-show {display:none !important;}

	.pc-hide {display:block !important;}
	.tb-hide {display:none !important;}
	.mb-hide {display:block !important;}

	.ip-icon-logo:before {width:262px;height:60px;background-position:0 -120px;}
	.ip-icon-logo:after {display:none;}
	.ip-icon-sign-arrow:before {width:22px;height:48px;background-position:-280px -100px;}
	.ip-icon-aside-logo:before {width:310px;height:70px;background-position:0 -520px;}
	.ip-icon-nav-close:before {width:34px;height:34px;background-position:-240px -300px;}
	.ip-icon-message-send:before {width:19px;height:15px;background-position:-140px -100px;}

	.icon-menu {display:block;width:36px;height:4px;border-radius:2px;background-color:#333;}
	.icon-menu:before {content:'';display:block;position:absolute;top:-10px;width:inherit;height:inherit;border-radius:inherit;background-color:inherit;}
	.icon-menu:after {content:'';display:block;position:absolute;bottom:-10px;width:inherit;height:inherit;border-radius:inherit;background-color:inherit;}

	#wrap {padding-top:100px;}
	#header {position:fixed;top:0;left:0;width:100%;height:101px;border-bottom:1px solid #e5e5e5;background-color:#fff;z-index:1000;}
	#header .hgroup {padding-right:116px;}
	#header .logo {top:0;left:0;padding:20px 40px;}
	#header .logo a {display:block;width:262px;height:60px;}
	#header .logo .ip-icon-logo {display:block;}

	#nav > .trigger {display:block;position:fixed;top:0;right:0;}
	#nav > .trigger > a {display:block;padding:48px 40px;}
	#nav > .group {display:none;position:fixed;top:0;left:0;padding:10px 0;width:100%;height:100%;z-index:1300;}
	#nav > .group > .overlay {display:block;position:absolute;top:-10%;left:-10%;width:120%;height:120%;background-color:#000;opacity:.5;z-index:1301;}
	#nav > .group > .panel {padding:80px 64px 0;height:100%;border-radius:10px;background-color:#fff;overflow:auto;z-index:1302;}
	#nav > .group > .panel > .btn-close {display:block;position:fixed;top:30px;right:30px;padding:10px;width:58px;height:58px;border-radius:0;background-color:transparent;}

	#nav .list {float:none;padding-bottom:30px;border-bottom:1px solid #e5e5e5;}
	#nav .dp1 {float:none;padding:0;opacity:1;}
	#nav .dp1 a {padding:12px 0 12px 60px;height:80px;font-size:48px;font-weight:400;line-height:56px;color:#333;border-radius:10px;border-bottom:0;background-color:transparent;transition:color 250ms, background-color 250ms;-webkit-transition:color 250ms, background-color 250ms;-moz-transition:color 250ms, background-color 250ms;-ms-transition:color 250ms, background-color 250ms;}
	#nav .dp1 a:before {content:'';display:block;position:absolute;top:34px;left:22px;width:12px;height:12px;border-radius:50%;background-color:#b8b8b8;}
	#nav .dp1 a:active {color:#fff;background-color:#0081ff;}
	#nav .dp1 a:active:before {background-color:#fff;}
	#nav .dp1.active a {border-bottom:0;}
	#nav .btn-sign-teacher {position:static;top:0;right:0;margin-top:36px;padding:12px 20px;width:100%;height:80px;font-size:48px;line-height:56px;text-align:left;color:#333;border-radius:0;border:0;}
	#nav .btn-sign-teacher.session-true {display:none;}
	#nav .btn-sign-teacher span {vertical-align:top;}
	#nav .btn-sign-teacher .ip-icon-sign-arrow {vertical-align:bottom;}
	#nav .aside {position:static;}
	#nav .aside .overlay {display:none;}
	#nav .aside .contain {position:static;top:0;right:0;transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);}
	#nav .aside .trigger {display:none;}
	#nav .aside .btn-close {display:none;}
	#nav .aside .panel {position:static;padding:72px 0 0;width:100%;border-radius:0;}
	#nav .aside .panel.session-true {padding-top:38px;}
	#nav .aside .contact {padding-left:20px;}
	#nav .aside .contact dt {font-size:36px;font-weight:700;line-height:44px;color:#666;}
	#nav .aside .contact dd {margin-top:16px;font-size:60px;line-height:80px;}
	#nav .aside .contact dd a {color:#2e99e3;}
	#nav .aside .header {margin-bottom:20px;padding:0 10px;}
	#nav .aside .teacher {float:none;padding:32px 0 32px 140px;height:112px;line-height:48px;}
	#nav .aside .teacher .picture {width:112px;height:112px;}
	#nav .aside .teacher .name {font-size:40px;color:#333;}
	#nav .aside .rate {display:none;}
	#nav .aside .links a,
	#nav .aside .links a:hover {padding:12px 0 12px 60px;height:80px;font-size:48px;font-weight:400;line-height:56px;color:#333;border-radius:10px;border-bottom:0;background-color:transparent;transition:color 250ms, background-color 250ms;-webkit-transition:color 250ms, background-color 250ms;-moz-transition:color 250ms, background-color 250ms;-ms-transition:color 250ms, background-color 250ms;}
	#nav .aside .links a:before,
	#nav .aside .links a:hover:before {content:'';display:block;position:absolute;top:34px;left:22px;width:12px;height:12px;border-radius:50%;background-color:#b8b8b8;}
	#nav .aside .links a:active {color:#fff;background-color:#0081ff;}
	#nav .aside .links a:active:before {background-color:#fff;}
	#nav .aside .footer {margin-top:30px;padding:28px 20px 60px;}
	#nav .aside .footer [class*="ip-icon-"]:before {margin:0;}

	.fixed #nav .dp1 {opacity:1;}
	.fixed #nav .dp1 a {color:#333;}
	.fixed #nav .dp1.active a {border-bottom:0;}
	.fixed #nav .btn-sign-teacher {color:#333;border:0;border-color:transparent;}
	.fixed .btn-sign-teacher .ip-icon-sign-arrow:before {opacity:1;}
	.fixed .btn-sign-teacher .ip-icon-sign-arrow:after {opacity:0;}

	.nav-active {overflow:hidden;}
	.nav-active #nav .group {display:block;}

	.fixed .ip-icon-logo:before {opacity:1;}
	
	.lt-ie9 .fixed .ip-icon-logo:before {display:block;}
	.lt-ie9 .fixed .ip-icon-logo:after {display:none;}
	.lt-ie9 .fixed .ip-icon-sign-arrow:before {display:block;}
	.lt-ie9 .fixed .ip-icon-sign-arrow:after {display:none;}

	.lt-ie9 #nav > .group > .overlay {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}
	.lt-ie9 #nav .dp1 a {color:#333;}
	.lt-ie9 #nav .dp1 a:active {color:#fff;}
	.lt-ie9 #nav .dp1.active a {color:#333;}
	.lt-ie9 #nav .aside .contain {right:0;}
	.lt-ie9 .fixed #nav .dp1 a {color:#333;}
	.lt-ie9 .fixed #nav .dp1 a:active {color:#fff;}
	.lt-ie9 .fixed #nav .btn-sign-teacher {border:0;}

}
@media all and (min-width:800px) and (max-width:1079px){
}
@media all and (max-width:799px) {
	body {z-index:3;}
	.pc-show {display:none !important;}
	.tb-show {display:none !important;}
	.mb-show {display:block !important;}

	.pc-hide {display:block !important;}
	.tb-hide {display:block !important;}
	.mb-hide {display:none !important;}

	[class*="ip-icon-"]:before {background-size:500px 500px;}
	[class*="ip-icon-"]:after {background-size:500px 500px;}
	.lt-ie9 [class*="ip-icon-"]:before {background-image:url(../images/icon-pack-half.png);}
	.lt-ie9 [class*="ip-icon-"]:after {background-image:url(../images/icon-pack-half.png);}

	.ip-icon-logo:before {width:131px;height:30px;background-position:0 -60px;}
	.ip-icon-footer-logo:before {width:110px;height:79px;background-position:0 -170px;}
	.ip-icon-greetings-quote:before {width:29px;height:26px;background-position:-120px -120px;}
	.ip-icon-page-prev:before {width:12px;height:9px;background-position:-140px -10px;}
	.ip-icon-page-next:before {width:12px;height:9px;background-position:-140px -20px;}
	.ip-icon-aside-logo:before {width:155px;height:35px;background-position:0 -260px;}
	.ip-icon-nav-close:before {width:17px;height:17px;background-position:-120px -150px;}
	.ip-icon-rate:before {width:16px;height:16px;background-position:-160px -100px;}
	.ip-icon-reload:before {width:14px;height:14px;background-position:-160px -120px;}

	.icon-menu {width:18px;height:2px;}
	.icon-menu:before {top:-5px;}
	.icon-menu:after {bottom:-5px;}

	#wrap {padding-top:50px;}

	#header {height:51px;}
	#header .hgroup {padding-right:58px;}
	#header .logo {padding:10px 20px;}
	#header .logo a {width:131px;height:30px;}

	#nav > .trigger > a {padding:24px 20px;}
	#nav > .group {padding:5px 0;}
	#nav > .group > .panel {padding:40px 32px 0;max-height:560px;border-radius:5px;}
	#nav > .group > .panel > .btn-close {top:15px;right:15px;padding:5px;width:29px;height:29px;}
	#nav .list {padding-bottom:15px;}
	#nav .dp1 a {padding:6px 0 6px 30px;height:40px;font-size:24px;line-height:28px;border-radius:5px;}
	#nav .dp1 a:before {top:17px;left:11px;width:6px;height:6px;}
	#nav .btn-sign-teacher {margin-top:18px;padding:6px 10px;height:40px;font-size:24px;line-height:28px;}
	#nav .aside .panel {padding:36px 0 0;}
	#nav .aside .panel.session-true {padding-top:19px;}
	#nav .aside .contact {padding-left:10px;}
	#nav .aside .contact dt {font-size:18px;line-height:22px;}
	#nav .aside .contact dd {margin-top:8px;font-size:20px;line-height:40px;}
	#nav .aside .header {margin-bottom:10px;padding:0 5px;}
	#nav .aside .teacher {padding:16px 0 16px 70px;height:56px;line-height:24px;}
	#nav .aside .teacher .picture {width:56px;height:56px;}
	#nav .aside .teacher .name {font-size:20px;}
	#nav .aside .links a,
	#nav .aside .links a:hover {padding:6px 0 6px 30px;height:40px;font-size:24px;line-height:28px;border-radius:5px;}
	#nav .aside .links a:before,
	#nav .aside .links a:hover:before {top:17px;left:11px;width:6px;height:6px;}
	#nav .aside .footer {margin-top:15px;padding:14px 10px 30px;}

	#signin .contain {top:-440px;margin:-220px -140px;padding:45px 47px 48px;width:280px;border-radius:5px;}
	#signin .header {padding-bottom:20px;}
	#signin .header .title {font-size:24px;line-height:29px;}
	#signin .header .explain {margin:6px -20px 0;font-size:12px;line-height:18px;}
	#signin .i-label {margin-bottom:15px;}
	#signin .i-label .i-placeholder {padding:5px 12px;font-size:12px;line-height:24px;border-radius:5px;}
	#signin .i-label .i-text {padding:5px 12px;height:36px;font-size:12px;line-height:24px;border-radius:5px;}
	#signin .btn-login {height:36px;font-size:12px;line-height:20px;border-radius:5px;}
	#signin .footer {margin-top:20px;padding-top:20px;font-size:12px;line-height:20px;}
	#signin .footer .title {margin:0 auto 10px;font-size:12px;line-height:20px;}
	#signin .footer .btn-contact {margin:0 auto 5px;padding:2px;width:100px;height:28px;font-size:12px;line-height:20px;border-radius:14px;}

	#footer .fgroup {padding:32px 0 25px;font-size:12px;line-height:19px;}
	#footer .fgroup .info {margin-top:19px;}
	#footer .copy {padding:15px 0 15px;font-size:12px;line-height:20px;}

}

