.bxsdw {box-shadow:0 2px 5px rgba(0,0,0,.05);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.05);-moz-box-shadow:0 2px 5px rgba(0,0,0,.05);-ms-box-shadow:0 2px 5px rgba(0,0,0,.05);}

#home .panel {height:900px;overflow:hidden;}
#home .panel .background {width:120%;height:1080px;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;background-image:url(../images/bg-main-home-01.jpg);transform:translate(-7%, -13%);-webkit-transform:translate(-7%, -13%);-moz-transform:translate(-7%, -13%);-ms-transform:translate(-7%, -13%);transition:transform 2750ms;-webkit-transition:-webkit-transform 2750ms;-moz-transition:-moz-transform 2750ms;-ms-transition:-ms-transform 2750ms;}
#home .contain.type-01 {position:absolute;top:250px;right:50%;width:415px;}
#home .contain.type-01 .tag {display:block;margin-left:9px;font-size:11px;font-weight:900;line-height:20px;letter-spacing:0.1em;color:#939598;}
#home .contain.type-01 .tag:before {content:'';display:inline-block;margin-right:5px;width:9px;height:9px;border-radius:50%;background-color:#007aff;}
#home .contain.type-01 .highlight {display:block;margin-top:34px;font-size:60px;font-weight:300;line-height:72px;letter-spacing:-0.03em;color:#fff;}
#home .contain.type-01 .text {display:block;margin-top:21px;font-size:24px;font-weight:300;line-height:36px;letter-spacing:-0.05em;color:#fff;}
#home .bx-controls {position:static;}
#home .bx-pager {position:absolute;bottom:32px;width:100%;font-size:0;line-height:0;text-align:center;z-index:60;}
#home .bx-pager-item {display:inline-block;padding:0 5px;}
#home .bx-pager-link {display:block;width:10px;height:10px;border-radius:50%;background-color:#b0b1af;}
#home .bx-pager-link.active {background-color:#fff;}

#home .panel .background.ani-s {}
#home .panel .background.ani-e {transform:translate(-10%, -10%);-webkit-transform:translate(-10%, -10%);-moz-transform:translate(-10%, -10%);-ms-transform:translate(-10%, -10%);}

.lt-ie9 #home .panel .background {-ms-behavior:url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}
.lt-ie9 #home .panel .background.ani-s {margin:-120px -6%;}
.lt-ie9 #home .panel .background.ani-e {margin:-90px -10%;}

#business {padding:80px 40px 30px;}
#business .contain {margin:0 auto;max-width:1170px;}
#business .list {margin:-15px;}
#business .list:after {content:'';display:block;clear:both;}
#business .list > li {float:left;padding:15px;width:33.33%;}
#business .list > li.full {width:calc(100% - 1px);}
#business .panel {border-radius:10px;background-color:#fff;overflow:hidden;}
#business .col {height:390px;}
#business .col img {border-radius:10px 10px 0 0;}
#business .col .post {position:static;padding:24px 30px 0;}
#business .col .post dt {position:static;}
#business .col .post dt .tag {position:absolute;top:30px;left:30px;padding:2px 12px;font-size:12px;font-weight:700;line-height:20px;letter-spacing:0.05em;color:#fff;border-radius:12px;background-color:#000;background-color:rgba(0,0,0,.4);}
#business .col .post dt span {font-size:30px;line-height:36px;letter-spacing:-0.015em;}
#business .col .post dd {margin-top:14px;font-size:16px;line-height:24px;color:#666;}
#business .greetings {padding:76px 46px 39%;text-align:center;background-repeat:no-repeat;background-size:contain;background-position:50% 100%;background-image:url(../images/bg-greetings.jpg);}
#business .greetings .title {margin-bottom:30px;font-size:48px;font-weight:400;line-height:56px;letter-spacing:-0.025em;color:#333;}
#business .greetings .body {margin:0 auto 28px;max-width:690px;}
#business .greetings .body p {margin-top:24px;font-size:16px;line-height:24px;color:#666;}
#business .greetings .body p:first-child {margin-top:0;}
#business .greetings .quote {margin:0 auto;max-width:690px;}
#business .greetings .quote [class*="ip-icon-"] {margin-bottom:20px;}
#business .greetings .quote .comment {margin-bottom:34px;font-size:30px;line-height:40px;letter-spacing:-0.015em;color:#363636;}
#business .greetings .quote .source {font-size:16px;line-height:24px;color:#333;}

.lt-ie9 #business .greetings {-ms-behavior:url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}

#intro {}
#intro .contain {padding:75px 40px 95px;color:#fff;text-align:center;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;background-image:url(../images/bg-main-intro.jpg);}
#intro .contain > .title {font-size:48px;font-weight:300;line-height:56px;letter-spacing:-0.025em;}
#intro .list {margin:70px auto 0;max-width:890px;}
#intro .list:after {content:'';display:block;clear:both;}
#intro .list > li {float:left;padding-bottom:53px;width:33.33%;font-size:20px;font-weight:700;line-height:28px;}
#intro .list > li:after {content:'';display:block;position:absolute;bottom:16px;left:50%;width:100%;height:2px;background-color:#fff;z-index:1;}
#intro .list > li.last:after {display:none;}
#intro .icon-intro-dotted {display:block;position:absolute;bottom:0;left:50%;margin-left:-17px;width:34px;height:34px;border-radius:50%;border:12px solid #fff;background-color:#007aff;z-index:2;}
#intro .explain {margin:66px auto 0;max-width:810px;}
#intro .explain dt {font-size:20px;font-weight:700;line-height:28px;}
#intro .explain dd {margin-top:24px;font-size:16px;line-height:24px;}

.lt-ie9 #intro {-ms-behavior:url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}

#organization {padding:0 40px;}
#organization .contain {margin:0 auto;padding-bottom:155px;max-width:1170px;}
#organization .contain > .title {margin:0 auto;padding:126px 0 60px;max-width:970px;font-size:48px;font-weight:300;line-height:56px;letter-spacing:-0.025em;text-align:center;border-bottom:1px solid #d8dcdf;}
#organization .tree-list {margin:80px -5px 0;}
#organization .tree-list ul ul {padding-top:30px;}
#organization .tree-list ul:after {content:'';display:block;clear:both;}
#organization .tree-list ul ul:before {content:'';display:block;position:absolute;top:0;left:0;width:50%;height:30px;border-right:1px solid #ccc;z-index:1;}
#organization .tree-list ul li {float:left;padding:30px 5px 0 5px;}
#organization .tree-list ul li:before {content:'';display:block;position:absolute;top:0;left:0;width:50%;height:30px;border-top:1px solid #ccc;border-right:1px solid #ccc;z-index:1;}
#organization .tree-list ul li:after {content:'';display:block;position:absolute;top:0;right:1px;width:50%;height:30px;border-top:1px solid #ccc;border-left:1px solid #ccc;z-index:1;}
#organization .tree-list ul.one ul:before {left:50%;width:0;}
#organization .tree-list ul.one > li {float:none;padding-top:0;}
#organization .tree-list ul.one > li:before {left:50%;width:0;}
#organization .tree-list ul.one > li:after {display:none;}
#organization .tree-list ul.side > li {float:none;}
#organization .tree-list ul.side > li:before {left:50%;width:0;}
#organization .tree-list ul.side > li:after {display:none;}
#organization .tree-list ul.side > li.side {position:absolute;top:0;right:50%;padding-top:0;width:25%;min-width:240px;}
#organization .tree-list ul.side > li.side:before {content:'';display:block;position:absolute;top:50%;left:0;width:100%;height:0;border-top:1px solid #ccc;z-index:1;}
#organization .tree-list ul.side > li.side > strong {margin:0 -40%;width:80%;}
#organization .tree-list li.first:before {display:none;}
#organization .tree-list li.last:after {display:none;}
#organization .tree-list strong {display:block;margin:0 auto;padding:18px 0;width:220px;height:60px;font-size:16px;line-height:24px;color:#fff;text-align:center;border-radius:30px;border:2px solid transparent;z-index:2;}
#organization .tree-list .dp1 > li > strong {background-color:#0053a4;}
#organization .tree-list .dp2 > li > strong {background-color:#0074e5;}
#organization .tree-list .dp3 > li > strong {background-color:#0081ff;}
#organization .tree-list .dp4 > li > strong {background-color:#00baff;}
#organization .tree-list .dp4 > li.side > strong {color:#333;border:2px solid #ccc;background-color:#fff;}
#organization .tree-list .dp5 > li {float:left;padding-top:30px;width:16.66%;}
#organization .tree-list .dp5 > li > strong {width:100%;background-color:#999;}

#program .contain {padding:110px 0 204px;background-color:#393939;}
#program .title {font-size:48px;font-weight:300;line-height:56px;color:#fff;text-align:center;}
#program .body {margin:110px auto 0;padding:0 80px;max-width:1330px;}
#program .body > .list {font-size:0;line-height:0;white-space:nowrap;overflow:hidden;}
#program .body > .list > li {display:inline-block;margin-right:30px;width:calc(50% - 15px);}
#program .slider a {display:block;padding-top:68.42105263157895%;border-radius:10px;}
#program .slider a > img {position:absolute;top:0;left:0;width:1005;height:100%;border-radius:10px;visibility:hidden;}
#program .slider .more {display:block;}
#program .slider .more > a {border:2px solid #ccc;}
#program .slider .more .box {display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
#program .slider .more .row {display:table;width:100%;height:100%;}
#program .slider .more .row .col {display:table-cell;text-align:center;font-size:72px;font-weight:300;line-height:86px;letter-spacing:-0.025em;color:#fff;vertical-align:middle;}
#program .slider .more .row .col:before {content:'+';display:block;text-align:center;}
#program .bx-wrapper .slider img {visibility:visible;}
#program .bx-controls {position:static;}
#program .bx-controls-direction {position:static;}
#program .bx-controls-direction a {position:absolute;top:50%;margin-top:-40px;width:60px;height:60px;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);text-indent:1000%;white-space:nowrap;overflow:hidden;}
#program .bx-prev {left:-72px;background-position:-320px 0;}
#program .bx-next {right:-72px;background-position:-320px -80px;}
#program .bx-pager {position:absolute;bottom:-84px;width:100%;font-size:0;line-height:0;text-align:center;}
#program .bx-pager-item {display:inline-block;padding:0 12px;}
#program .bx-pager-link {display:block;width:24px;height:24px;border-radius:50%;border:2px solid #fff;text-indent:1000%;white-space:nowrap;overflow:hidden;}
#program .bx-pager-link.active {background-color:#fff;}

#photo {padding:0 40px;}
#photo .contain {margin:0 auto;padding:140px 0;max-width:1170px;}
#photo .contain > .title {margin-bottom:100px;font-size:48px;font-weight:300;line-height:56px;letter-spacing:-0.02em;color:#333;text-align:center;}
#photo .list {border-radius:10px;overflow:hidden;}
#photo .list:after {content:'';display:block;clear:both;}
#photo .list > li {float:left;width:33.33%;overflow:hidden;}
#photo .list .picture {padding-top:100%;}
#photo .list .picture > img {position:absolute;top:0;left:0;width:100%;height:100%;}
#photo .list .first .info,
#photo .list .first .picture,
#photo .list .first .picture > img {border-radius:10px 0 0 10px;}
#photo .list .last .info,
#photo .list .last .picture,
#photo .list .last .picture > img {border-radius:0 10px 10px 0;}
#photo .list a {display:block;}
#photo .list .info {position:absolute;top:0;left:0;padding:40px 40px 70px;width:100%;height:100%;background-color:rgba(0,129,255,.82);}
#photo .list .info .subject {display:table;height:100%;table-layout:fixed;}
#photo .list .info .subject > span {display:table-cell;padding-left:6px;font-size:36px;font-weight:300;line-height:40px;color:#fff;vertical-align:middle;overflow:hidden;}
#photo .list .info .date {position:absolute;bottom:0;padding:10px 14px 34px;width:calc(100% - 80px);font-size:18px;line-height:26px;color:#d7d7d7;border-top:1px solid rgba(255,255,255,.2);}
#photo .list .more {display:none;}
#photo .btn-more {display:block;margin:75px auto 0;padding:46px;width:95px;height:95px;border-radius:50%;background-color:#333;}
#photo .btn-more .icon-photo-more {display:block;width:3px;height:3px;background-color:#fff;}
#photo .btn-more .icon-photo-more:before {content:'';display:block;position:absolute;left:-18px;width:39px;height:inherit;background-color:inherit;}
#photo .btn-more .icon-photo-more:after {content:'';display:block;position:absolute;top:-18px;width:inherit;height:39px;background-color:inherit;}

#notice {padding:0 0 3.3%;}
#notice .background {position:absolute;top:0;width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;background-image:url(../images/bg-notice.jpg);transform:skew(0,-3.7deg);-webkit-transform:skew(0,-3.7deg);-moz-transform:skew(0,-3.7deg);-ms-transform:skew(0,-3.7deg);}
#notice .contain {padding:130px 0;}
#notice .row {display:table;position:absolute;top:0;left:0;width:100%;height:100%;table-layout:fixed;}
#notice .row > .col {display:table-cell;vertical-align:middle;}
#notice .body {margin:0 auto;padding:0 25px;max-width:1250px;}
#notice .body:after {content:'';display:block;clear:both;}
#notice .body > .header {float:left;width:25%;padding-top:25%;}
#notice .body > .header > .title {display:block;position:absolute;top:15px;left:15px;width:calc(100% - 30px);height:calc(100% - 30px);font-size:48px;font-weight:300;line-height:56px;letter-spacing:-0.025em;color:#333;text-align:center;background-color:#fff;border-radius:10px;}
#notice .list > li {float:left;width:25%;padding-top:25%;}
#notice .list > li .panel {display:block;position:absolute;top:15px;left:15px;width:calc(100% - 30px);height:calc(100% - 30px);border-radius:10px;background-color:#fff;}
#notice .list > li .panel dl {padding:0 13.2%;color:#999;}
#notice .list .subject {margin-bottom:6px;height:108px;font-size:24px;line-height:36px;overflow:hidden;}
#notice .list .date {font-size:18px;line-height:26px;}
#notice .body > .footer {float:left;width:25%;padding-top:25%;}
#notice .body > .footer > .btn-more {display:block;position:absolute;top:15px;left:15px;width:calc(100% - 30px);height:calc(100% - 30px);font-size:48px;font-weight:300;line-height:56px;color:#999;text-align:center;background-color:#fff;border-radius:10px;}
#notice .icon-notice-more {display:block;margin:18px auto 40px;width:3px;height:3px;background-color:#999;}
#notice .icon-notice-more:before {content:'';display:block;position:absolute;left:-18px;width:39px;height:inherit;background-color:inherit;}
#notice .icon-notice-more:after {content:'';display:block;position:absolute;top:-18px;width:inherit;height:39px;background-color:inherit;}

.lt-ie9 #notice .background {-ms-behavior:url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}

#contact {padding:70px 40px 110px;}
#contact .contain {margin:0 auto;padding:60px 48px 90px;max-width:1170px;border-radius:10px;background-color:#fff;overflow:hidden;}
#contact .contain > .header {margin:0 auto;padding-bottom:46px;max-width:970px;text-align:center;border-bottom:1px solid #e5e5e5;}
#contact .contain > .header .title {font-size:48px;font-weight:300;line-height:56px;letter-spacing:-0.025em;color:#333;}
#contact .contain > .header .explain {margin-top:16px;font-size:16px;line-height:24px;color:#666;}
#contact .contain > .body {margin:65px auto 0;max-width:970px;}
#contact .contain > .body:after {content:'';display:block;clear:both;}
#contact .location {float:left;margin-right:7.2%;width:calc(50% + 15px);}
#contact .location .info {font-size:16px;font-weight:300;line-height:24px;color:#292929;}
#contact .location .info a {color:#292929;}
#contact .location .info .address {margin-top:15px;font-size:36px;line-height:44px;letter-spacing:-0.02em;}
#contact .location > .wrap-map {margin-top:24px;height:523px;border-radius:10px;background-color:#fafafa;overflow:hidden;}
#contact .wrap-map:after {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;}
#contact .wrap-map.on:after {display:none;}
#contact .root_daum_roughmap {width:100%;border-radius:10px;overflow:hidden;}
#contact .root_daum_roughmap .wrap_map {height:491px;}
#contact .root_daum_roughmap .wrap_controllers {border-radius:0 0 10px 10px;}
#contact .root_daum_roughmap .map_border {display:none;}
#contact .entry {float:left;width:calc(42.8% - 16px);}
#contact .entry dt {margin-top:17px;font-size:14px;line-height:24px;color:#333;}
#contact .entry dt:first-child {margin-top:0;}
#contact .entry dd {padding:7px 0;}
#contact .i-text {padding:9px 19px;height:45px;width:100%;font-size:14px;line-height:25px;color:#363636;border-radius:10px;border:1px solid #e5e5e5;background-color:#fafafa;}
#contact .i-text:focus {padding:8px 18px;color:#339aff;border:2px solid #339aff;outline:0;}
#contact textarea.i-text {height:168px;}
#contact .i-select {padding:8px 19px;height:45px;width:100%;font-size:14px;line-height:25px;color:#363636;border-radius:10px;border:1px solid #e5e5e5;background-color:#fafafa;z-index:2;opacity:0;}
#contact .i-label {display:block;width:100%;text-align:left;}
#contact .i-label .i-placeholder {position:absolute;top:0;left:0;padding:9px 19px;width:100%;height:100%;font-size:14px;line-height:25px;color:#999;white-space:nowrap;text-overflow:ellipsis;border-radius:10px;border:1px solid #e5e5e5;background-color:#fafafa;overflow:hidden;z-index:2;}
#contact .s-label {position:absolute;padding:9px 19px;width:100%;height:45px;font-size:14px;line-height:25px;color:#999;white-space:nowrap;text-overflow:ellipsis;border-radius:10px;border:1px solid #e5e5e5;background-color:#fff;background-repeat:no-repeat;background-position:100% 50%;background-image:url(../images/slabel-arrow.jpg);overflow:hidden;z-index:1;}
#contact .btn-submit {display:block;margin-top:23px;padding:10px;width:100%;height:45px;font-size:14px;font-weight:700;line-height:25px;color:#fff;border-radius:10px;background-color:#0081ff;}

.lt-ie9 #contact .entry select {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.lt-ie9 #contact .location > .wrap-map {background-repeat:no-repeat;background-position:50% 50%;background-image:url(../images/bg-map.jpg);}

#top {display:table;width:100%;height:410px;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}
#top .title {display:table-cell;padding-top:110px;font-size:60px;font-weight:300;line-height:70px;letter-spacing:-0.03em;color:#fff;text-align:center;vertical-align:middle;}
.edu-schedule #top {background-image:url(../images/bg-top-edu-schedule.jpg);}
.edu-program #top {background-image:url(../images/bg-top-edu-program.jpg);}
.notice #top {background-image:url(../images/bg-top-notice.jpg);}
.gallery #top {background-image:url(../images/bg-top-gallery.jpg);}
.lesson-file #top {background-image:url(../images/bg-top-lesson-file.jpg);}

.lt-ie9 #top {-ms-behavior:url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}

#article {padding:80px 40px;}
#article > .header {margin:0 auto;padding:36px 40px;max-width:1170px;border-radius:10px;background-color:#fff;}
#article > .header:after {content:'';display:block;clear:both;}
#article > .header .title {float:left;font-size:30px;line-height:38px;color:#007aff;}
#article > .header .location {float:right;}
#article > .header .location li {float:left;padding:7px 0 7px 36px;font-size:16px;line-height:24px;color:#363636;}
#article > .header .location li:before {content:'';display:block;position:absolute;top:13px;left:15px;width:8px;height:13px;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);background-position:-240px -100px;}
#article > .header .location .home > a {color:#bbc0d4;}
#article > .header .location li.home {padding-left:0;}
#article > .header .location li.home:before {display:none;}
#article > .section {display:block;margin:30px auto 0;max-width:1170px;}
#article > .section.view {padding:80px 40px;border-radius:10px;background-color:#fff;}

#article .view-infos {width:100%;border-top:1px solid #999;table-layout:fixed;}
#article .view-infos th,
#article .view-infos td {padding:18px 0;font-size:16px;line-height:24px;letter-spacing:-0.045em;color:#666;text-align:left;border-bottom:1px solid #e5e5e5;}
#article .view-infos th {padding-left:20px;font-weight:700;color:#333;vertical-align:middle;}
#article .view-infos td.subject strong {font-weight:900;color:#333;}
#article .view-infos td.file a {color:#007aff;border-bottom:1px solid #007aff;}
#article .view-infos .state .point {font-weight:700;color:#0081ff;}
#article .view-infos .cate ul {margin:-2px -4px;}
#article .view-infos .cate ul:after {content:'';display:block;clear:both;}
#article .view-infos .cate li {display:block;float:left;padding:2px 4px;}
#article .view-infos .cate a {font-size:14px;line-height:22px;color:#4fc4ff;}
#article .view-infos .nowrap {white-space:nowrap;}

#article .view-contents {display:block;padding:80px 64px;font-size:16px;line-height:1.5em;color:#333;border-bottom:1px solid #e5e5e5;}
#article .view-contents img {max-width:100%;height:auto;}

#article .btn-group {margin:40px -5px;}
#article .btn-group:after {content:'';display:block;clear:both;}
#article .btn-group ul:after {content:'';display:block;clear:both;}
#article .btn-group ul > li {float:left;padding:0 5px;}
#article .btn-group .controls-util {float:left;}
#article .btn-group .local-util {float:right;}
#article .btn-group .btn {float:left;padding:10px;width:140px;height:44px;font-size:14px;font-weight:700;line-height:24px;color:#fff;text-align:center;border-radius:22px;background-color:#0081ff;}

#article .search-section {margin:30px auto 0;width:480px;}
#article .search-section:after {content:'';display:block;clear:both;}
#article .search-section .condition {float:left;margin-right:5px;padding:14px 10px;width:120px;height:54px;font-size:16px;line-height:24px;color:#333;border:1px solid #ddd;background-color:#fff;appearance:none;-webkit-appearance:none;background-repeat:no-repeat;background-position:100% 50%;background-repeat:contain;background-image:url(../images/select-arrow.jpg);}
#article .search-section .i-search {float:left;padding:14px 10px;width:273px;height:54px;font-size:16px;line-height:24px;color:#333;border:1px solid #ddd;background-color:#fff;}
#article .search-section .btn-submit {float:left;padding:15px 0;width:82px;height:54px;font-size:16px;line-height:24px;color:#fff;text-align:center;background-color:#0081ff;}

.lt-ie9 #article .search-section .condition {-ms-behavior:url(./backgroundsize.min.htc);behavior: url(./backgroundsize.min.htc);}

#article .lessonfile-list {padding:80px 40px;border-radius:10px;background-color:#fff;}
#article .lessonfile-list > li {margin-bottom:-1px;border-top:1px solid #999;border-bottom:1px solid #999;}
#article .lessonfile-list .panel {display:block;padding:40px 0 40px 220px;height:240px;background-color:#fff;transition:background-color 250ms;-webkit-transition:background-color 250ms;-moz-transition:background-color 250ms;-ms-transition:background-color 250ms;}
#article .lessonfile-list .picture {position:absolute;left:20px;top:40px;width:160px;height:160px;border:1px solid #eee;}
#article .lessonfile-list dt {margin-bottom:0.5em;font-size:18px;font-weight:700;line-height:28px;color:#333;}
#article .lessonfile-list dd {display:inline-block;margin-right:31px;color:#666;}
#article .lessonfile-list dd:after {content:'';display:block;position:absolute;top:3px;right:-16px;width:1px;height:14px;background-color:#999;}
#article .lessonfile-list dd.date:after {display:none;}
#article .lessonfile-list .btn-download {display:block;position:absolute;bottom:40px;right:20px;padding:10px;width:140px;height:44px;font-size:14px;font-weight:700;line-height:24px;color:#fff;text-align:center;border-radius:22px;background-color: #0081ff;}

#article .board-list {padding:80px 40px;border-radius:10px;background-color:#fff;}
#article .board-list > li {margin-bottom:-1px;border-top:1px solid #999;border-bottom:1px solid #999;}
#article .board-list .panel {display:block;padding:40px 0 40px 35.75%;background-color:#fff;transition:background-color 250ms;-webkit-transition:background-color 250ms;-moz-transition:background-color 250ms;-ms-transition:background-color 250ms;}
#article .board-list .panel dl {position:static;}
#article .board-list dd.date {position:absolute;top:40px;left:0;width:14.5%;min-width:120px;font-size:16px;line-height:24px;color:#999;text-align:center;transition:color 250ms;-webkit-transition:color 250ms;-moz-transition:color 250ms;-ms-transition:color 250ms;}
#article .board-list dd.name {position:absolute;top:40px;left:18.5%;width:100px;font-size:16px;line-height:24px;color:#999;transition:color 250ms;-webkit-transition:color 250ms;-moz-transition:color 250ms;-ms-transition:color 250ms;}
#article .board-list dd.subject {font-size:18px;font-weight:700;line-height:28px;letter-spacing:-0.025em;color:#333;transition:color 250ms;-webkit-transition:color 250ms;-moz-transition:color 250ms;-ms-transition:color 250ms;}
#article .board-list dd.contents {display:block;margin-top:18px;font-size:16px;line-height:24px;letter-spacing:-0.025em;color:#666;overflow:hidden;transition:color 250ms;-webkit-transition:color 250ms;-moz-transition:color 250ms;-ms-transition:color 250ms;}
#article .board-list .panel:hover {background-color:#007aff}
#article .board-list .panel:hover dd.date {color:#fff;}
#article .board-list .panel:hover dd.name {color:#fff;}
#article .board-list .panel:hover dd.subject {color:#fff;}
#article .board-list .panel:hover dd.contents {color:#fff;}
#article .board-list.lesson-file .panel {padding-left:160px;}
#article .board-list.lesson-file .panel dd.date {width:160px;}

#article .gallery-list {margin:-15px;}
#article .gallery-list:after {content:'';display:block;clear:both;}
#article .gallery-list > li {float:left;padding:15px;width:33.33%;}
#article .gallery-list > li:nth-child(3n + 1) {clear:both;}
#article .gallery-list .panel {display:block;padding:30px;border-radius:10px;background-color:#fff;overflow:hidden;}
#article .gallery-list .picture {margin:-30px -30px 0;padding-top:68.42105263157895%;}
#article .gallery-list .picture > img {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:10px 10px 0 0;}
#article .gallery-list .post {margin-top:26px;letter-spacing:-0.045em;}
#article .gallery-list .post dt,
#article .gallery-list .post dd {display:inline;font-size:16px;line-height:24px;color:#999;}
#article .gallery-list .post dd:after {content:'';display:block;}
#article .gallery-list .post dt:after {content:':';padding:0 0.125em;}
#article .gallery-list .post dd.subject {display:block;height:48px;font-size:18px;letter-spacing:-0.015em;color:#363636;overflow:hidden;}

#article .pagination {margin-top:30px;font-size:0;line-height:0;text-align:center;}
#article .pagination .btn {display:inline-block;margin:0 2px;padding:5px 0;width:32px;height:32px;font-size:14px;line-height:22px;color:#666;text-align:center;vertical-align:top;}
#article .pagination .btn.current {color:#fff;background-color:#007cf8;}
#article .pagination .btn.controls {margin:0 8px;padding:7px 4px;}

#article .teacher-info {padding:80px 40px;border-radius:10px;background-color:#fff;}
#article .teacher-info .contain {padding-left:28.44%;}
#article .teacher-info .header {position:static;padding-bottom:30px;}
#article .teacher-info .header:after {content:'';display:block;clear:both;}
#article .teacher-info .header .picture {position:absolute;top:0;left:14.22%;margin-left:-110px;width:220px;border-radius:50%;border:1px solid #e5e5e5;overflow:hidden;}
#article .teacher-info .header .picture img {border-radius:50%;}
#article .teacher-info .teacher {position:static;float:left;width:50%;}
#article .teacher-info .teacher .name {font-size:40px;line-height:40px;letter-spacing:-0.015em;color:#363636;}
#article .teacher-info .rate {float:left;padding-top:10px;width:50%;font-size:30px;line-height:30px;}
#article .teacher-info .rate [class*="ip-icon-"] {top:-0.075em;}
#article .teacher-info .rate .score {color:#0081ff;}
#article .teacher-info .rate .max {color:#999;}
#article .teacher-info .rate .max:before {content:'/';padding-right:0.25em;}
#article .teacher-info .detail {border-bottom:1px solid #e5e5e5;}
#article .teacher-info .detail:after {content:'';display:block;clear:both;}
#article .teacher-info .detail > dl {float:left;padding:30px 5% 30px 0;width:50%;border-top:1px solid #e5e5e5;}
#article .teacher-info .detail dt {font-size:18px;line-height:26px;color:#333;}
#article .teacher-info .detail dd {margin-top:15px;color:#666;}
#article .teacher-info .cate .list {margin:-3px;}
#article .teacher-info .cate .list:after {content:'';display:block;clear:both;}
#article .teacher-info .cate .list > li {float:left;padding:3px;}
#article .teacher-info .cate a {color:#4fc4ff;}
#article .teacher-info .rep .list {margin:-3px;}
#article .teacher-info .rep .list > li {padding:3px;}
#article .teacher-info .rep .list:after {content:'';display:block;clear:both;}

#article .talk-panel {}
#article .talk-panel .display {margin-top:-15px;}
#article .talk-panel .display > li {padding:15px 0;}
#article .talk-panel .display > li:after {content:'';display:block;clear:both;}
#article .talk-panel .message .panel {padding:25px 30px;width:100%;max-width:800px;font-size:16px;line-height:24px;color:#666;border-radius:10px;}
#article .talk-panel .message .teacher {float:right;background-color:#def5ff;}
#article .talk-panel .message .manager {float:left;background-color:#efefef;}
#article .talk-panel .message dt:after {content:'';display:block;clear:both;}
#article .talk-panel .message .name {float:left;}
#article .talk-panel .message .date {float:right;font-size:12px;opacity:.5;}
#article .talk-panel .message .comment {margin-top:4px;white-space:pre-line;}
#article .talk-panel .send {margin-top:30px;width:100%;}
#article .talk-panel .send:after {content:'';display:block;clear:both;}
#article .talk-panel .send .i-text {display:block;padding:10px 56px 10px 16px;width:100%;font-family:'Nanum Gothic';font-size:16px;line-height:24px;white-space:pre-line;border-radius:10px;background-color:#fbfbfb;outline:0;overflow:hidden;z-index:1;}
#article .talk-panel .send .i-text:after {content:'';display:inline-block;height:1em;}
#article .talk-panel .send textarea.i-text {width:100%;height:46px;min-height:46px;border:1px solid #e5e5e5;}
#article .talk-panel .send .btn-submit {display:block;position:absolute;bottom:0;right:0;padding:16px 17px 14px 10px;width:46px;height:46px;z-index:2;}

#article .lectures-list {padding:80px 40px;border-radius:10px;background-color:#fff;}
#article .lectures-list .header > .list {display:table;width:100%;table-layout:fixed;border-top:1px solid #999;}
#article .lectures-list .header > .list > li {display:table-cell;padding:5px 0;height:60px;font-weight:700;color:#333;text-align:center;vertical-align:middle;border-bottom:1px solid #999;}
#article .lectures-list .body .panel {display:block;color:#333;}
#article .lectures-list .body dt {display:none;}
#article .lectures-list .body dl {display:table;width:100%;table-layout:fixed;}
#article .lectures-list .body dl > dd {display:table-cell;padding:10px 5px;height:60px;font-size:16px;line-height:24px;letter-spacing:-0.025em;text-align:center;vertical-align:middle;border-bottom:1px solid #e5e5e5;}
#article .lectures-list .body dl > dd.subject {text-align:left;}
#article .lectures-list .no {width:60px;}
#article .lectures-list .date {width:140px;}
#article .lectures-list .cate {width:15%;}
#article .lectures-list .state {width:13%;}
#article .lectures-list .imp {width:60px;}
#article .lectures-list .sat {width:60px;}
#article .lectures-list .nowrap {white-space:nowrap;}
#article .lectures-list .subject .text {display:inline;margin:0.25em;font-size:16px;line-height:24px;color:#333;vertical-align:middle;}
#article .lectures-list .subject .next {display:inline-block;margin:0.25em;padding:0 1em;font-size:12px;line-height:24px;letter-spacing:0.005em;color:#fff;vertical-align:middle;border-radius:12px;background-color:#0081ff;}
#article .lectures-list .subject .next:after {content:'';display:inline-block;left:0.25em;margin-left:0.25em;width:6px;height:10px;vertical-align:middle;background-repeat:no-repeat;background-image:url(../images/icon-pack.png);background-position:-280px -300px;}
#article .lectures-list .subject .wait {display:inline-block;margin:0.25em;padding:0 1em;font-size:12px;line-height:24px;letter-spacing:0.005em;color:#fff;vertical-align:middle;border-radius:12px;background-color:#999;}
#article .lectures-list .subject .wait:before {content:'';display:inline-block;right:0.25em;margin-right:0.25em;width:9px;height:9px;border-radius:50%;background-color:#fc0;vertical-align:middle;}
#article .lectures-list .subject .success {display:inline-block;margin:0.25em;padding:0 1em;font-size:12px;line-height:24px;letter-spacing:0.005em;color:#fff;vertical-align:middle;border-radius:12px;background-color:#999;}
#article .lectures-list .subject .success:before {content:'';display:inline-block;right:0.25em;margin-right:0.25em;width:9px;height:9px;border-radius:50%;background-color:#3c0;vertical-align:middle;}

#article .lectures-more {padding:33px 0;font-size:16px;font-weight:700;line-height:24px;color:#0081ff;text-align:center;border-radius:10px;background-color:#fff;}
#article .lectures-more [class*="ip-icon-"] {top:-1px;margin-right:5px;vertical-align:middle;}

.lt-ie9 #article .talk-panel .message .date {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}

@media all and (min-width:1080px) {
}
@media all and (max-width:1079px) {
	#home .panel {height:720px;}
	#home .panel .background {height:900px;}
	#home .contain.type-01 {right:auto;left:40px;}

	#business .col {height:400px;}
	
	#photo .list .info {padding-bottom:60px;}
	#photo .list .info .subject > span {font-size:24px;line-height:30px;}
	#photo .list .info .date {padding-bottom:24px;font-size:16px;}

	#notice .body > .header .row > .col {font-size:32px;line-height:40px;}
	#notice .list .subject {height:78px;font-size:18px;line-height:26px;}
	#notice .list .date {font-size:16px;line-height:22px;}
	#notice .body > .footer > .btn-more {font-size:32px;line-height:40px;}

	#top {height:300px;}
	#top .title {padding-top:0;}

	#article .view-contents {padding:80px 40px;}

	#article .gallery-list .panel {padding:20px;}
	#article .gallery-list .picture {margin:-20px -20px 0;}
	#article .gallery-list .post dt,
	#article .gallery-list .post dd {font-size:14px;line-height:20px;}

	#article .teacher-info .contain {padding-left:200px;}
	#article .teacher-info .header .picture {left:0;margin-left:0;width:170px;}

}
@media all and (min-width:800px) and (max-width:1079px){
}
@media all and (max-width:799px) {
	#home .panel {height:360px;}
	#home .panel .background {height:500px;}
	#home .contain.type-01 {top:137px;right:auto;left:40px;}
	#home .contain.type-01 .tag {margin-left:4px;font-size:10px;line-height:12px;}
	#home .contain.type-01 .tag:before {width:7px;height:7px;}
	#home .contain.type-01 .highlight {margin-top:16px;font-size:30px;line-height:36px;}
	#home .contain.type-01 .text {margin-top:11px;font-size:12px;line-height:18px;}

	#business {padding:65px 20px 10px;}
	#business .list {margin:-10px;}
	#business .list > li {float:none;padding:10px;width:100%;}
	#business .list > li.full {width:100%;}
	#business .panel {border-radius:5px;}
	#business .col {height:auto;}
	#business .col img {border-radius:5px 5px 0 0;}
	#business .col .post {padding:18px 22px;}
	#business .col .post dt .tag {top:15px;left:15px;padding:0 12px;font-size:10px;line-height:20px;}
	#business .col .post dt span {font-size:24px;line-height:34px;}
	#business .col .post dd {margin-top:9px;font-size:12px;line-height:19px;}
	#business .greetings {padding:34px 23px 39%;text-align:left;}
	#business .greetings .title {margin-bottom:20px;font-size:30px;font-weight:300;line-height:40px;}
	#business .greetings .body {margin:0 auto 14px;}
	#business .greetings .body p {margin-top:19px;font-size:12px;line-height:19px;}
	#business .greetings .body p:first-child {margin-top:0;}
	#business .greetings .quote [class*="ip-icon-"] {margin-bottom:16px;}
	#business .greetings .quote .comment {margin-bottom:18px;font-size:18px;line-height:25px;}
	#business .greetings .quote .source {font-size:12px;line-height:20px;}

	.lt-ie9 #business .list > li {width:100% !important;}

	#intro {padding:10px 20px;}
	#intro .contain {padding:35px 20px;text-align:left;border-radius:5px;}
	#intro .contain > .title {font-size:30px;line-height:38px;}
	#intro .list {margin-top:22px;}
	#intro .list > li {float:none;padding:0 0 22px 27px;width:100%;font-size:18px;line-height:25px;}
	#intro .list > li.last {padding-bottom:0;}
	#intro .list > li:after {bottom:-8px;left:8px;width:2px;height:100%;}
	#intro .icon-intro-dotted {top:4px;bottom:auto;left:0;margin-left:0;width:17px;height:17px;border:6px solid #fff;}
	#intro .explain {margin-top:20px;}
	#intro .explain dt {font-size:14px;line-height:22px;}
	#intro .explain dd {margin-top:8px;font-size:12px;line-height:19px;}

	.lt-ie9 #intro .list > li {width:100% !important;}

	#organization {padding:0 44px;}
	#organization .contain {padding-bottom:40px;}
	#organization .contain > .title {padding:25px 0;font-size:30px;line-height:38px;border-bottom:0;}
	#organization .tree-list {margin:0 auto;width:230px;}
	#organization .tree-list ul ul {padding-top:30px;}
	#organization .tree-list ul ul:before {left:70px;width:50%;height:30px;}
	#organization .tree-list ul li {float:none;padding:30px 0 0;padding-left:20px;width:160px;}
	#organization .tree-list ul li:before {content:'';display:block;position:absolute;top:0;left:0;width:50%;height:30px;border-top:1px solid #ccc;border-right:1px solid #ccc;z-index:1;}
	#organization .tree-list ul li:after {display:none;}
	#organization .tree-list ul ul.one {padding-top:15px;}
	#organization .tree-list ul.one ul:before {left:70px;width:0;}
	#organization .tree-list ul.one > li {padding-left:0;width:100%;}
	#organization .tree-list ul.one > li:before {left:50%;width:0;}
	#organization .tree-list ul.side > li {padding-left:0;}
	#organization .tree-list ul.side > li:before {left:70px;}
	#organization .tree-list ul.side > li.side {top:15px;right:0;padding-left:20px;width:160px;min-width:0;}
	#organization .tree-list ul.side > li.side > strong {margin:0;width:140px;}
	#organization .tree-list ul.side > li.side:before {content:'';display:block;position:absolute;top:50%;left:0;width:100%;height:0;border-top:1px solid #ccc;z-index:1;}
	#organization .tree-list strong {margin:0;padding:3px 0;width:140px;height:30px;font-size:14px;line-height:20px;border-radius:15px;}
	#organization .tree-list .dp5 {padding-top:15px;}
	#organization .tree-list .dp5 > li {float:none;padding:15px 0 0 90px;width:100%;}
	#organization .tree-list .dp5 > li.first {padding-top:0;}
	#organization .tree-list .dp5 > li:before {content:'';display:block;top:auto;bottom:15px;left:70px;width:50%;height:30px;border:0;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
	#organization .tree-list .dp5 > li:after {content:'';display:block;top:auto;bottom:0;left:70px;width:50%;height:16px;border:0;border-left:1px solid #ccc;border-top:1px solid #ccc;}
	#organization .tree-list .dp5 > li.last:after {display:none;}
	#organization .tree-list .dp5 > li > strong {width:140px;background-color:#999;}

	#program .contain {padding:65px 0 80px;}
	#program .title {font-size:30px;line-height:40px;}
	#program .body {margin:30px auto 0;padding:0 20px;}
	#program .body > .list > li {display:inline-block;margin-right:0;width:100%;}
	#program .slider .more > a {border-radius:5px;}
	#program .slider .more .row .col {font-size:36px;line-height:43px;}
	#program .bx-controls-direction a {margin-top:-20px;width:30px;height:30px;background-size:500px 500px;}
	#program .bx-prev {left:-12px;background-position:-200px 0;}
	#program .bx-next {right:-12px;background-position:-200px -40px;}
	#program .bx-pager {bottom:-34px;}
	#program .bx-pager-item {padding:0 6px;}
	#program .bx-pager-link {width:12px;height:12px;border:1px solid #fff;}

	.lt-ie9 #program .bx-controls-direction a {background-image:url(../images/icon-pack-half.png);}

	#photo {padding:0;}
	#photo .contain {padding:65px 20px 80px;}
	#photo .contain > .title {margin-bottom:30px;font-size:30px;line-height:40px;}
	#photo .contain > .list {font-size:0;line-height:0;white-space:nowrap;overflow:hidden;}
	#photo .contain > .list > li {display:inline-block;float:none;}
	#photo .list {border-radius:5px;overflow:hidden;}
	#photo .list > li {float:left;width:100%;overflow:hidden;}
	#photo .list > li.first .info,
	#photo .list > li img,
	#photo .list > li .info,
	#photo .list > li.first img,
	#photo .list > li.last .info,
	#photo .list > li.last img {border-radius:5px;}
	#photo .list .info {padding:20px 40px 70px;width:100%;height:100%;background-color:rgba(0,129,255,.82);}
	#photo .list .info .subject > span {padding-left:3px;font-size:24px;line-height:32px;}
	#photo .list .info .date {padding:5px 7px 17px;width:calc(100% - 80px);font-size:16px;line-height:24px;}
	#photo .list .more {display:block;}
	#photo .bx-controls {position:static;}
	#photo .bx-controls-direction {position:static;}
	#photo .bx-controls-direction a {position:absolute;top:50%;margin-top:-20px;width:30px;height:30px;background-repeat:no-repeat;background-size:500px 500px;background-image:url(../images/icon-pack.png);text-indent:1000%;white-space:nowrap;overflow:hidden;}
	#photo .bx-prev {left:-12px;background-position:-200px 0;}
	#photo .bx-next {right:-12px;background-position:-200px -40px;}
	#photo .bx-pager {position:absolute;bottom:-34px;width:100%;font-size:0;line-height:0;text-align:center;}
	#photo .bx-pager-item {display:inline-block;padding:0 6px;}
	#photo .bx-pager-link {display:block;width:12px;height:12px;border-radius:50%;border:1px solid #ccc;text-indent:1000%;white-space:nowrap;overflow:hidden;}
	#photo .bx-pager-link.active {background-color:#ccc;}
	#photo .slider .more {display:block;}
	#photo .slider .more > a {display:block;padding-top:100%;border-radius:5px;background-color:#0f84e6;}
	#photo .slider .more .box {display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
	#photo .slider .more .row {display:table;width:100%;height:100%;}
	#photo .slider .more .row .col {display:table-cell;text-align:center;font-size:36px;font-weight:300;line-height:43px;letter-spacing:-0.025em;color:#fff;vertical-align:middle;}
	#photo .slider .more .row .col:before {content:'+';display:block;text-align:center;}
	#photo .btn-more {display:none;}

	.lt-ie9 #photo .list {width:400% !important;}
	.lt-ie9 #photo .list > li {width:25% !important;}
	.lt-ie9 #photo .bx-controls-direction a {background-image:url(../images/icon-pack-half.png);}

	#notice .background {background-size:100% 100%;}
	#notice .contain {padding:35px 0;}
	#notice .body {padding:0 13px;}
	#notice .body > .header {width:50%;padding-top:50%;}
	#notice .body > .header > .title {top:7px;left:7px;width:calc(100% - 14px);height:calc(100% - 14px);color:#fff;background-color:transparent;border-radius:5px;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;}
	#notice .body > .header .row > .col {font-size:26px;line-height:34px;}
	#notice .list > li {width:50%;padding-top:50%;}
	#notice .list > li .panel {top:7px;left:7px;width:calc(100% - 14px);height:calc(100% - 14px);border-radius:10px;background-color:#fff;box-shadow:0 2px 5px rgba(0,0,0,.05);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.05);-moz-box-shadow:0 2px 5px rgba(0,0,0,.05);-ms-box-shadow:0 2px 5px rgba(0,0,0,.05);}
	#notice .list .subject {height:72px;font-size:16px;line-height:24px;}
	#notice .list .date {font-size:12px;line-height:20px;}
	#notice .body > .footer {width:50%;padding-top:50%;}
	#notice .body > .footer > .btn-more {top:7px;left:7px;width:calc(100% - 14px);height:calc(100% - 14px);font-size:26px;line-height:34px;color:#fff;background-color:transparent;border-radius:5px;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;}
	#notice .icon-notice-more {display:block;margin:9px auto 20px;width:2px;height:2px;background-color:#fff;}
	#notice .icon-notice-more:before {left:-9px;width:20px;}
	#notice .icon-notice-more:after {top:-9px;height:20px;}

	#contact {padding:10px 20px 20px;}
	#contact .contain {padding:33px 24px 39px;border-radius:5px;}
	#contact .contain > .header {padding-bottom:26px;}
	#contact .contain > .header .title {font-size:30px;line-height:38px;}
	#contact .contain > .header .explain {margin-top:10px;font-size:12px;line-height:18px;}
	#contact .contain > .body {margin-top:27px;}
	#contact .location {float:none;margin-right:0;width:100%;}
	#contact .location .info {font-size:12px;line-height:17px;}
	#contact .location .info .address {font-size:18px;line-height:26px;}
	#contact .location > .wrap-map {margin-top:24px;height:320px;border-radius:5px;}
	#contact .root_daum_roughmap {border-radius:5px;}
	#contact .root_daum_roughmap .wrap_map {height:288px;}
	#contact .root_daum_roughmap .wrap_controllers {border-radius:0 0 5px 5px;}
	#contact .entry {float:none;margin-top:16px;width:100%;}
	#contact .entry dt {margin-top:10px;font-size:14px;line-height:22px;}
	#contact .entry dd {padding:5px 0;}
	#contact .i-text {padding:5px 12px;height:37px;font-size:12px;line-height:25px;border-radius:5px;}
	#contact .i-text:focus {padding:4px 11px;}
	#contact textarea.i-text {height:134px;}
	#contact .i-select {padding:5px 12px;height:37px;font-size:12px;line-height:25px;border-radius:5px;}
	#contact .i-label .i-placeholder {padding:5px 12px;font-size:12px;border-radius:5px;}
	#contact .s-label {padding:5px 12px;height:37px;font-size:12px;border-radius:5px;}
	#contact .btn-submit {margin-top:15px;padding:6px;height:37px;font-size:12px;border-radius:5px;}

	.lt-ie9 #contact .location {width:100% !important;}
	.lt-ie9 #contact .entry {width:100% !important;}

	#top {height:150px;}
	#top .title {padding-top:0;font-size:30px;line-height:38px;}

	#article {padding:20px 20px 40px;}
	#article > .header {padding:16px 24px 15px;border-radius:5px;}
	#article > .header .title {float:none;font-size:20px;line-height:28px;}
	#article > .header .location {float:none;}
	#article > .header .location li {padding:1px 0 1px 24px;font-size:12px;line-height:20px;}
	#article > .header .location li:before {top:6px;left:10px;width:6px;height:10px;background-size:500px 500px;background-position:-130px -50px;}
	#article > .section {margin:20px auto 0;}
	#article > .section.view {padding:24px 24px 26px;border-radius:5px;}

	#article .view-infos {display:block;width:100%;border-top:0;table-layout:fixed;}
	#article .view-infos tbody {display:block;width:100%;}
	#article .view-infos tr {display:block;width:100%;}
	#article .view-infos tr:after {content:'';display:block;clear:both;}
	#article .view-infos th,
	#article .view-infos td {display:block;float:left;padding:10px 0 10px 10px;font-size:12px;line-height:20px;}
	#article .view-infos th {margin-bottom:-41px;width:74px;border-bottom:0;}
	#article .view-infos th.subject {display:none;}
	#article .view-infos td {width:100%;padding-left:80px;}
	#article .view-infos td.subject {padding-left:10px;width:100%;}
	#article .view-infos .cate a {font-size:12px;line-height:18px;}

	#article .view-contents {padding:20px 0;font-size:12px;}
	#article .btn-group {margin:20px -6px 0;}
	#article .btn-group .controls-util {float:none;width:100%;}
	#article .btn-group .controls-util li {padding:0 6px;width:50%;}
	#article .btn-group .local-util {float:none;margin-top:15px;width:100%;}
	#article .btn-group .local-util li {width:100%;}
	#article .btn-group .btn {padding:5px;width:100%;height:30px;font-size:12px;line-height:20px;border-radius:15px;}

	#article .search-section {margin:20px auto 0;width:252px;}
	#article .search-section .condition {margin-right:2px;padding:4px 5px;width:80px;height:30px;font-size:12px;line-height:20px;}
	#article .search-section .i-search {padding:4px 5px;width:130px;height:30px;font-size:12px;line-height:20px;}
	#article .search-section .btn-submit {padding:5px 0;width:40px;height:30px;font-size:12px;line-height:20px;}

	.lt-ie9 #article > .header .location li:before {background-image:url(../images/icon-pack-half.png);}

	#article .lessonfile-list {padding:24px 24px 26px;border-radius:5px;}
	#article .lessonfile-list > li {margin:30px 0 0;border-top:1px solid #999;border-bottom:0;}
	#article .lessonfile-list > li:first-child {margin-top:0;}
	#article .lessonfile-list .panel {display:block;padding:16px 0 16px 70px;height:110px;}
	#article .lessonfile-list .picture {top:16px;left:0;width:60px;height:60px;}
	#article .lessonfile-list dt {margin-bottom:4px;font-size:14px;line-height:22px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
	#article .lessonfile-list dd {display:block;margin-right:0;font-size:12px;line-height:16px;}
	#article .lessonfile-list dd:after {display:none;}
	#article .lessonfile-list .btn-download {display:block;position:absolute;bottom:0;right:0;padding:0;width:100%;height:24px;font-size:12px;line-height:24px;border-radius:12px;}

	#article .board-list {padding:24px 24px 26px;border-radius:5px;}
	#article .board-list .panel {padding:16px 10px;}
	#article .board-list .panel dl:after {content:'';display:block;clear:both;}
	#article .board-list dd.date {float:left;position:static;width:77px;min-width:0;font-size:12px;line-height:20px;text-align:left;}
	#article .board-list dd.name {float:left;position:static;left:0;width:100px;font-size:12px;line-height:20px;}
	#article .board-list dd.subject {clear:both;margin:0 0 4px;font-size:14px;line-height:22px;}
	#article .board-list dd.contents {margin:0 0 2px;font-size:14px;line-height:20px;}
	#article .board-list.lesson-file .panel {padding-left:10px;}

	#article .gallery-list {margin:-10px;}
	#article .gallery-list > li {float:none;padding:10px;width:100%;}
	#article .gallery-list .panel {padding:20px;border-radius:5px;}
	#article .gallery-list .picture {margin:-20px -20px 0;}
	#article .gallery-list .picture > img {border-radius:5px 5px 0 0;}
	#article .gallery-list .post {margin-top:20px;}
	#article .gallery-list .post dt,
	#article .gallery-list .post dd {display:inline;font-size:12px;line-height:18px;}
	#article .gallery-list .post dd.subject {height:auto;font-size:20px;line-height:22px;min-height:36px;}

	#article .pagination .btn.controls {margin:0 4px;padding:5px 4px;}

	#article .teacher-info {padding:24px 24px 26px;border-radius:5px;}
	#article .teacher-info .contain {padding-left:0;}
	#article .teacher-info .header {position:static;padding-bottom:0;}
	#article .teacher-info .header .picture {width:85px;}
	#article .teacher-info .teacher {position:static;float:none;padding:25px 0 42px 100px;;width:100%;height:105px;border-bottom:1px solid #e5e5e5;}
	#article .teacher-info .teacher .name {font-size:30px;line-height:38px;}
	#article .teacher-info .rate {float:none;padding:14px 0;width:100%;font-size:24px;line-height:32px;}
	#article .teacher-info .detail {border-bottom:0;}
	#article .teacher-info .detail > dl {float:none;padding:20px 0;width:100%;}
	#article .teacher-info .detail > dl.rep {padding-bottom:0;}
	#article .teacher-info .detail dt {font-size:14px;line-height:26px;color:#333;}
	#article .teacher-info .detail dd {margin-top:7px;font-size:12px;line-height:18px;}
	#article .teacher-info .cate .list {margin:-3px -7px;}
	#article .teacher-info .cate .list > li {padding:3px 7px;}
	#article .teacher-info .rep > .list {margin:-2px;}
	#article .teacher-info .rep > .list > li {padding:2px;}

	#article .talk-panel .display {margin-top:-6px;}
	#article .talk-panel .display > li {padding:6px 0;}
	#article .talk-panel .message .panel {padding:14px 18px 18px;font-size:12px;line-height:20px;border-radius:5px;}
	#article .talk-panel .message .date {font-size:10px;}
	#article .talk-panel .message .comment {margin-top:4px;line-height:15px;}
	#article .talk-panel .send {margin-top:10px;}
	#article .talk-panel .send .i-text {padding:7px 46px 7px 10px;font-size:14px;line-height:20px;border-radius:5px;}
	#article .talk-panel .send textarea.i-text {height:36px;min-height:36px;}
	#article .talk-panel .send .btn-submit {padding:11px 10px 10px 6px;width:36px;height:36px;}

	#article .lectures-list {padding:24px 24px 26px;border-radius:5px;}
	#article .lectures-list .header {display:none;}
	#article .lectures-list .body .list {margin:-12px 0;}
	#article .lectures-list .body .list > li {padding:12px 0;}
	#article .lectures-list .body .panel {display:block;color:#666;}
	#article .lectures-list .body dl {display:block;}
	#article .lectures-list .body dl:after {content:'';display:block;clear:both;}
	#article .lectures-list .body dl > dt {display:block;float:left;padding:8px 7px;width:68px;font-size:10px;font-weight:700;line-height:18px;color:#ccc;}
	#article .lectures-list .body dl > dt.no {display:none;}
	#article .lectures-list .body dl > dd {display:block;padding:7px 14px;width:100%;height:35px;font-size:12px;line-height:20px;text-align:left;}
	#article .lectures-list .body dl > dd.no {display:none;}
	#article .lectures-list .body dl > dd.subject {padding:8px 14px;height:auto;}
	#article .lectures-list .body dl > dd.state {border-bottom:1px solid #999;}
	#article .lectures-list .body dl > dd.sat {border-bottom:1px solid #999;}
	#article .lectures-list .subject .text {font-size:14px;font-weight:700;line-height:18px;}
	#article .lectures-list .subject .next {padding:0 0.5em;font-size:10px;line-height:14px;border-radius:7px;}
	#article .lectures-list .subject .next:after {top:3px;left:0.125em;width:5px;height:8px;vertical-align:top;background-size:500px 500px;background-position:-140px -160px;}
	#article .lectures-list .subject .wait {padding:0;font-size:10px;line-height:14px;letter-spacing:0.005em;color:#999;border-radius:0;background-color:transparent;}
	#article .lectures-list .subject .wait:before {right:0.125em;margin-right:0.125em;width:8px;height:8px;}
	#article .lectures-list .subject .success {padding:0;font-size:10px;line-height:14px;letter-spacing:0.005em;color:#999;border-radius:0;background-color:transparent;}
	#article .lectures-list .subject .success:before {right:0.125em;margin-right:0.125em;width:8px;height:8px;}

	.lt-ie9 #article .lectures-list .subject .next:after {background-image:url(../images/icon-pack-half.png);}

	#article .lectures-more {padding:18px 0;font-size:12px;line-height:14px;border-radius:5px;}
	#article .lectures-more [class*="ip-icon-"] {top:0;margin-right:3px;}

}

